{{#leaflet-map lat=lat lng=lng zoom=zoom as |map|}}
  {{!-- layer components --}}
  {{map.tile url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

  {{#map.marker location=veeakkerButchery as |marker|}}
    {{#marker.popup}}
      <h3>Veeakker</h3>
      Slachthuislaan 3A<br/>
      3000 Leuven
    {{/marker.popup}}
  {{/map.marker}}
{{/leaflet-map}}
