.collection-ponts
{
    max-width: 1024px;
    margin: 0 auto;
    padding: 2rem;
    h1, h2, h3,h4, p {
      max-width: 1024px;
      margin: 0 auto;
      padding: 0;
      color: #443B36;
    }
  
    h1, h2, h3 ,h4 {
      margin-top: 2em;
      margin-bottom: 1em;
    }
    .PostNL{
        width: 250px;
    }
    p {
      margin-bottom: 1em;
    }
    
  }