@import 'tailwind';

@import './config/index';
@import './fonts/fontello';
@import './netpulse/all';
@import './components/index';
@import './pages/index';

/* greyed out pictures of disabled products */
.product-disabled img.product-image {
  filter: grayscale(1);
}

#page-container {
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

#content-wrap {
  padding-bottom: 3.5rem;    /* Footer height */
}

footer {
  width: 100%;
  background-color: $base-primary;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: auto;

  a {
    color: white;
    padding: 1.5rem;
  }
}

// Footer text has to be full width
@media only screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    a {
      width: 100%;
      text-align: center;
    }
  }
}
