@use 'config/index';
@use 'fonts/fontello';
@use 'components/index' as index2;
@use 'pages/index' as index3;
@use "config/colors";

/* generic buttons */

button.button {
  background-color: #443b36;
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
  padding: 10px 50px;
  margin: 15px 0;
  border: none;
}

/* greyed out pictures of disabled products */
.product-disabled img.product-image {
  filter: grayscale(1);
}

.home-map{
  height: 500;
  width: auto;
}

#page-container {
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

#content-wrap {
  padding-bottom: 3.5rem;    /* Footer height */
}

footer {
  width: 100%;
  background-color: colors.$base-primary;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: auto;

  a {
    color: white;
    padding: 1.5rem;
  }
}

// Footer text has to be full width
@media only screen and (max-width: 600px) {
  footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    a {
      text-align: center;
    }
  }
}
