{{page-title "Klant"}}

<div class="textbook">
  <h1>Gericht op de bewuste klant</h1>

  <p>
    We helpen mee aan het leefbaar houden van onze planeet. Dat doen we voor onze klanten en voor de volgende generaties.
    <br />
    Mensen die bewust zoeken naar gezonde, verantwoorde producten en het appreciëren dat een bedrijf zich altijd opnieuw in vraag stelt om zich te verbeteren, vinden bij ons hun gading. We nemen ook graag de bemerkingen van onze klanten mee in onze besluitvorming.
  </p>

  <p>
    Bij de selectie van ons vlees zijn er een aantal aspecten waar we belang aan hechten:
  </p>

  <h2>
    Diervriendelijk & gezond
  </h2>

  <p>
    We kiezen voor dieren van kleinere landbouwbedrijven, bedrijven die oog hebben voor de diervriendelijkheid. Zo leven onze kippen en varkens in stallen, maar krijgen ze meer bewegingsruimte dan elders en worden ze goed verzorgd. De kippen hebben ongeveer 25% meer ruimte dan in andere bedrijven en hun waterverbruik wordt dagelijks gecontroleerd. Wanneer een kip minder drinkt, weten de boer dat er mogelijk iets scheelt en kan er homeopatisch ingegrepen worden zodat medicatie vermeden kan worden.
  </p>

  <p>
    De runderen leven buiten, daar ook kiezen we voor de bedrijven die het diervriendelijker aanpakken.  Kleinere bedrijven telen hun ruwvoeders zelf en geven minder onnatuurlijke krachtvoeders.
  </p>
  <p>
    Dit alles maakt dat het vlees diervriendelijker is en gezonder.
  </p>

  <h2>
    Duurzaam & gezond
  </h2>
  <p>
    We kiezen voor dieren van Belgische bedrijven en voor ecologisch duurzamere, gezondere rassen.  We verkiezen te werken met het Blonde d’Aquitaine ras. Deze dieren staan bekend voor hun optimale voederconversie. Dat betekent dat ze met 1 kg voeder meer vlees aanzetten dan de meeste andere rassen zonder dat er hormonen en andere stimuli moeten worden toegediend. Op deze manier helpen we het regenwoud in stand te houden. Jaarlijks gaat de oppervlakte van Portugal tegen de vlakte om soja te telen. Bovendien komen de kalveren van de Blonde d’Aquitaine natuurlijk en zonder keizersnedes ter wereld en hebben ze een grote, natuurlijke weerbaarheid tegen ziekten. Dat maakt dat ze weinig tot geen medicatie nodig hebben wat het vlees dan weer gezonder maakt.
  </p>

  <p>
    Maar we geloven dat het nog beter kan. Dus daar blijven we naar streven.
  </p>

  <p>
    Meer:

    <ul>
      <li><LinkTo @route="values.customer">Gericht op de bewuste klant</LinkTo></li>
      <li><LinkTo @route="values.quality">Versheid & kwaliteit</LinkTo></li>
      <li><LinkTo @route="values.ecology">In harmonie met het milieu</LinkTo></li>
    </ul>
  </p>
</div>

{{outlet}}