{{page-title "Milieu"}}
<div class="textbook">
  <h1>
    In harmonie met het milieu
  </h1>
  <p>
    We willen onze natuur zoveel mogelijk beschermen en actief meehelpen aan het leefbaar houden van onze planeet. Dit doen we op verschillende manieren.
  </p>

  <p>
    Zo proberen we zo efficient mogelijk met vervoer om te gaan. Iedere week kienen we de beste routes uit om met een minimum aan kilometers alle leveringen te doen. Daarbij reizen onze diepgevroren producten in geïsoleerde dozen. Het is goedkoper en logistiek eenvoudiger om steeds met nieuwe dozen te werken. We kiezen echter bewust om de dozen bij een volgende levering terug op te halen en te hergebruiken.
  </p>

  <p>
    Ook in de selectie van de dieren hebben we aandacht voor de impact van het vlees op onze planeet. We sensibiliseren onze klanten om minder en kwalitatief beter vlees te eten. Naar dat echt kwalitatief vlees gaan wij op zoek. We zoeken dieren met een goede voederconversie waarbij het voedsel dat ze krijgen zo optimaal mogelijk gebruikt wordt. We zoeken ook naar boeren die kiezen voor binnenlandse grondstoffen voor het voeder. Dit doen we zodat er in Brazilië geen regenwoud gekapt moet worden om soja te kweken voor voeder dat hier aan dieren gegeven wordt. En zodat er geen onnodige, internationale transporten van buitenlands voeder naar België moeten plaats vinden. Ideaal zijn natuurlijk volledig grasgevoederde dieren. Zoals onze Galloway runderen van Natuurpunt. Zij zijn het mooiste voorbeeld van vlees in harmonie met het milieu. Het is niet evident, maar we blijven zoeken naar dergelijke initiatieven.
  </p>

  <p>
    Meer:

    <ul>
      <li><LinkTo @route="values.customer">Gericht op de bewuste klant</LinkTo></li>
      <li><LinkTo @route="values.quality">Versheid & kwaliteit</LinkTo></li>
      <li><LinkTo @route="values.ecology">In harmonie met het milieu</LinkTo></li>
    </ul>
  </p>
</div>

{{outlet}}