{{page-title "Kwaliteit"}}

<div class="textbook">
  <h1>Versheid & kwaliteit</h1>
  <p>
    In onze slagerij en op onze leveringsrondes garanderen we de hoogste versheid. Dagdagelijks zetten onze slagers en hun helpers zich daar voor in. Het is geen holle slogan, maar eerlijk werk van verantwoordelijke mensen. Onze medewerkers zijn ook bewuste (eters) consumenten, staan pal achter onze beleidsvisie en verkopen geen producten die ze zelf niet zouden consumeren.
  </p>
  <p>
    Dat laatste is meteen ook onze leidraad in het nemen van beslissingen over versheid en kwaliteit.
  </p>

  <p>
    Meer:

    <ul>
      <li><LinkTo @route="values.customer">Gericht op de bewuste klant</LinkTo></li>
      <li><LinkTo @route="values.quality">Versheid & kwaliteit</LinkTo></li>
      <li><LinkTo @route="values.ecology">In harmonie met het milieu</LinkTo></li>
    </ul>
  </p>
</div>


{{outlet}}