<div class="scrollable-header submenu-header">
  {{#each (sort-by-index @model.children) as |group|}}
    <LinkTo @route="webshop.product-groups.show.subgroups.show" @models={{elements @model.parent.id group.id}}>{{group.label}}
</LinkTo>
  {{/each}}
</div>

<div id="webshop-content">
  {{outlet}}
</div>