<div class="scrollable-header submenu-header">
  {{#each this.model.sortedChildren as |group|}}
    <LinkTo @route="webshop.product-groups.show.subgroups.show" @models={{elements this.model group}}>{{group.label}}</LinkTo>
  {{/each}}
</div>

<div id="webshop-content">
  {{outlet}}
</div>
