.number-button {
    margin-top: 1px;
    background-color: $light-base ;
    display: inline-block;
    border: none;
    color: $base-primary;
    height: 25px;
}

#minus-button, #plus-button {
    display: inline-block;
    padding: 0.25rem;
    border: none;
}

#number-value {
    display: inline-block;
}