<div class="sub-menu ml-4">
  <ul class="mt-5 pl-0">
    {{#each (sort-by-index @productGroup.childGroups) as |group|}}
      <li>
        <LinkTo @route="webshop.product-groups.show.subgroups.show" @models={{elements @productGroup group}} class="uppercase">{{group.label}}</LinkTo>
      </li>
    {{/each}}
  </ul>
  <div class="fix"></div>
</div>

{{yield}}
