<div class="top-menu">
  <LinkTo class="logo-veeakker" @route="index">
    <img src="/images/veeakker.png" alt="Veeakker brand name in written front" />
  </LinkTo>

  <div id="veeakker-menu">
    <LinkTo @route="about">Over ons</LinkTo>
    <LinkTo @route="products">Producten</LinkTo>
    <LinkTo @route="news">Nieuws</LinkTo>
    <LinkTo @route="webshop">Webshop</LinkTo>
    <LinkTo @route="locations">Locaties</LinkTo>
    <LinkTo @route="contact-us">Contact</LinkTo>
      {{#if this.mobileIsOpenClass}}
        <a id="mobile-menu" {{action this.closeNav}}>
          <i class="fa fa-times"></i>
        </a>
      {{else}}
        <a id="mobile-menu" {{action this.openNav}}>
          <i class="fa fa-bars"></i>
        </a>
      {{/if}}
  </div>
</div>
<div class="mobile-menu-links {{this.mobileIsOpenClass}}">
  <LinkTo @route="about">Over ons</LinkTo>
    <LinkTo @route="products">Producten</LinkTo>
    <LinkTo @route="news">Nieuws</LinkTo>
    <LinkTo @route="webshop">Webshop</LinkTo>
    <LinkTo @route="locations">Locaties</LinkTo>
    <LinkTo @route="contact-us">Contact</LinkTo>
</div>