<div class="veeakker-home-map__leaflet-map">
  <LeafletMap class="kaart" @lat={{this.butcheryLat}} @lng={{this.butcheryLng}} @zoom={{this.defaultZoom}} as |map|>
    <map.tile @url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" />
    <map.marker @location={{this.veeakkerButcheryLocation}} as |marker|>
      <marker.popup>
        <h3>Veeakker</h3>
        Slachthuislaan 3A<br/>
        3000 Leuven
      </marker.popup>
    </map.marker>
  </LeafletMap>
</div>