<label class="containerCheck" ...attributes>
  {{yield}}
  <input
    type="checkbox"
    checked={{eq @current @for}}
    {{on "click" (action (mut @current) (and (not (eq @for @current)) @for))}}>
  <span class="checkmark"></span>
</label>
