<h3 class="map-title">Selecteer een voorkeur locatie</h3>

<DeliveryLocationsMap @places={{this.locations}} class="h-64" as |marker location|>
  {{!-- yield marker location --}}
  {{!-- TODO: add location name to model and show it here --}}
  <h3>{{location.deliveryKind.simpleName}}</h3>
  Please click <button type="button">here</button> to select this location
</DeliveryLocationsMap>
