// Style files for specific Ember Components.  Folder name should be
// the name of the ember component.

@import './top-menu/index';
@import './product-card/index';
@import './number-button/index';
@import './webshop/index';
@import './design/index';

.kaart{
    height: 400px; 
    width: 600px; 
    border-bottom-right-radius:200px; 
    border-bottom-left-radius:200px; 
    border-top-right-radius:200px;
}