/*MAIN*/
.top-menu {
  background-image: url('/images/header-groot.jpg');
  border-bottom: solid #cccccc 1px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  overflow: hidden;
}

.mobile-menu-links {
  display: none;
}

.logo-veeakker {
  margin: 25px;
  display: block;
  float: left;
  img {
    height: 50px;
  }
}

#veeakker-menu {
  float: right;
  margin: auto 2%;
  margin-top: 40px;
}

@media screen and (max-width: 1024px) {
  #veeakker-menu {
    #mobile-menu {
      font-size: 20px;
      display: inline;
    } 

    a {
      display: none;
    }
  }

  .mobile-open {
    width: 100%;
    display: inline-block;
    background-color: $base-primary;

    display: flex;
    flex-direction: column;

    a {
      padding: 10px;
      text-align: center;
      color: white;
      border-bottom: solid 1px $neutral-background;
      margin: 0 5px;
    }
  }
}


@media screen and (min-width: 1024px) {
  #veeakker-menu {
    #mobile-menu {
      display: none;
    } 
  
    a {
      font-size: 20px;
      color: white;
  
      margin-right: 40px;
    }
  }
}
