// Style for specific pages.  Folder structure is based on the route.
// The /app/templates/products/ route will have its style in
// /app/templates/products/index.scss (or any of its subfolders
// grouped in index.scss).
@import './products/index';
@import './locations/index';
@import './webshop/index';
@import './over-ons/index';
@import './nieuws/index';
@import './contact/index';

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #E1DBD5;
  font-family: 'Varela Round', sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none !important;
}

h1 {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.button-style {
  background-color: $base-primary;
  color: white;
  font-size: 16px;
  font-family: 'Open Sans';
  text-align: center;
  margin-top: 8px;
  padding: 10px;
}

.button-style:hover {
  background-color: $base-secondary;
}

.error-message {
  color: red;
  text-align: center;
  margin: 20px;
}

.icons-social {
  height: 80px;
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
  text-align: center;
}

.icon-social {
  display: block;
  float: left;
  cursor: pointer;
}

.nieuws-datum {
  padding-bottom: 0px !important;
}

.waarden1 {
  width: 200px;
  background-repeat: no-repeat;
}

/*HOME*/
.top-banner {
  height: 400px;
  background-image: url('/images/ondergrond.jpg');
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
}

.top-banner-items {
  margin: 0 auto;
  height: 400px;
}

// .talen-mobile {
//   display: none;
// }

// .talen ul {
//   width: 93px;
//   float: right;
//   margin-top: 10px;
//   margin-right: 40px;
//   padding: 0px;
// }

// .talen ul li {
//   display: block;
//   float: left;
//   height: 25px;
//   width: 25px;
//   //font-family: 'Open Sans';
//   font-size: 12px;
//   border-radius: 50%;
//   background-color: rgb(97, 82, 74);
//   margin: 3px;
//   padding-top: 2px;
//   padding-left: 0px;
// }

// .talen ul li a {
//   color: #cccccc;
//   padding: 5px;
//   padding-top: 4px;
//   display: inline-block;
// }

.logo-slo {
  display: block;
  float: right;
}

.logo-slo img {
  max-width: 300px;
  margin-top: 50px;
  margin-right: 50px;
}

.slogan {
  display: block;
  margin-top: 170px;
  margin-right: 20px;
  float: right;
}

.slogan h1 {
  font-size: 28px;
  font-weight: 100;
}

.fork {
  display: block;
  margin-top: 125px;
  margin-right: 75px;
  float: right;
}

.fork img {
  width: 151px;
}

.waarden {
  background-color: #AD9A89;
  display: block;
}

.waarden h1 {
  font-size: 18px;
  font-weight: 100;
  padding-top: 40px;
}

.waarden3 {
  display: flex;
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.waarden1 {
  width: 200px;
  display: block;
  margin: 10px;
}

.waarden1 img {
  width: 200px;
}

.forks {
  width: 151px;
  margin: 0 auto;
  margin-top: 20px;
}

.arrow {
  width: 132px;
  margin: 0 auto;
}

.social {
  height: 300px;
  background-image: url('/images/ondergrond-social.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.social h1 {
  font-size: 18px;
  font-weight: 100;
  margin-top: 40px;
}

#contact {
  width: 100%;
  color: $base-primary;
  font-family: 'Open Sans';
}

#contact h1 {
  font-size: 18px;
  font-weight: 500;
  padding-top: 40px;
}