<div class="tabcontent textbook">
  <h1>Bloem en aardappelen van La Ferme Delmée</h1>

  <p>Veeakker biedt al jaar en dag de aardappelen en bloem aan van La Ferme Delmée uit Ostiche in Wallonië, een boerderij die haar land op een duurzame manier bewerkt. Van bij het begin zijn onze klanten lovend over de kwaliteit van de producten. Klanten die zelf brood bakken merken het verschil in kwaliteit met andere bloem en de aardappelen smaken tenminste nog.</p>

  <p>
    De bloem wordt nog op steen met een echte windmolen gemalen of op de hamermolen geslagen. Vaak is de boer afhankelijk van de natuur of er al dan niet gemalen kan worden.
  </p>

  <p>
    De aardappelen worden nitraatarm geteeld en het loof wordt niet doodgespoten. Ook tijdens de bewaring van de aardappelen wordt er geen gebruik gemaakt van bedenkelijke poeders die de groei van scheuten afremmen.
  </p>


  <h1>
    Kazen en roomijs van Hoeve De Ploeg
  </h1>

  <p>
    We verkopen verschillende soorten kaas en roomijs van Hoeve De Ploeg in Herselt. Dit melkveebedrijf is een echt familiebedrijf gerund door b(r)oer Ronny en zijn 4 zussen, ondersteund door hun moeder. Op de boerderij leven ongeveer 100 koeien die dagelijks verzorgd en gemolken worden. Met de melk produceren ze op ambachtelijke wijze verschillende zuivelproducten. Naast oog voor hygiëne en smaak, hechten ze veel aandacht aan het gezondheidsaspect van hun producten. Probiotische melkdranken helpen de weerstand tegen ziekte verhogen, terwijl de gras-klaverrijke voeding zorgt voor meer omega3-vetzeuren in de melk.
  </p>

  <p>
    <a href="http://www.hoevedeploeg.be/">Hoeve De Ploeg</a>
  </p>

  <h1>
    Honing van Hermon Torfs
  </h1>

  <p>
    Herman Torfs erfde de passie voor bijen van zijn grootvader. Als jonge knaap leerde hij van hem het imkeren en stilaan groeide de hobby uit tot een heus (bij)beroep. Herman houdt de bijen en ‘oogst’ honing op duurzame wijze. De bijen doen misschien het meeste werk, maar honing maken blijft ook voor de imker een heel ambachtelijk proces met veel handenarbeid. Hun honingsoorten komen vooral van de bloeiende planten uit de streek rond Aarschot.
  </p>

  <p>
    We verkopen verschillende soorten vaste en vloeibare honing van Herman Torfs.
  </p>

  <p><a href="https://www.imkertorfs.be/">Imker Torfs</a></p>


  <h1>
    Mosterd van De Ster
  </h1>
  <p>
    We verkopen Mosterd van Mosterdmakerij De Ster. Al sinds 1924 maken ze mosterd, ondertussen zijn ze al aan de 4de en 5de generatie mosterdmakers. Oorspronkelijk werkten ze in Leuven, later in Lubbeek. Ze werken met een authentieke 3-steens mosterdmolen en gebruiken enkel de beste en meest eenvoudige ingrediënten (mosterdzaad, zeezout, natuurazijn en water) zonder toevoeging van bewaarmiddelen, kleurstoffen of andere.
  </p>

  <p>
    We bieden een hele fijne en zachte mosterd en een graantjes mosterd aan.
  </p>

  <p><a href="https://www.de-ster.com/">Mosterd van De Ster</a></p>

  <Design::Gallery />
  <Design::HeroImage />
</div>
