<div class="tabcontent textbook">
  <h1>Galloway runderen van Natuurpunt</h1>
  <p>
    In verschillende natuurdomeinen zet Natuurpunt Gallowayrunderen in voor het onderhoud van het domein. De dieren zijn geselecteerd door Natuurpunt op hun fysieke kenmerken. Door hun warme vacht - lange, golvende haren, een ruwe buitenvacht en een zachte binnenvacht – zijn Gallowayrunderen zeer goed bestand tegen barre weersomstandigheden. Ze zijn niet tam en heel zelfstandig. Zo hebben ze geen hulp nodig bij het kalveren en dient er niet gemolken te worden omdat alle melk naar het kalf gaat. Al grazend onderhouden ze het domein en vullen op die manier taken in die normaal door mensen uitgevoerd worden. Zo wordt er heel wat brandstof en mankracht bespaard. Galloways eten niet enkel gras, maar ook grove grassen als bramen, takken, twijgen… wat de diversiteit van het landschap bovendien doet toenemen.
  </p>

  <p>
    Bovendien is Galloway een rund met een aparte, uitstekende vleeskwaliteit. Het is donker van kleur, vaster dan de gekweekte soorten, en vaak ook iets vetter. Volgens kenners is de smaak onovertroffen. Doordat de dieren enkel grassen eten is het vlees ook veel gezonder. Het maakt dat het veel minder verzadigde vetten bevat en rijk is aan Omega3 en dus minder gevaarlijk is voor de cholestrol. Het is de ideale keuze voor de bewuste consument.
  </p>

  <p>
    Al onze producten van Gallowayrunderen zijn diepgevroren. Op deze manier kunnen schommelingen in vraag en aanbod beter opvangen worden. Bovendien blijft het vlees zo het meest vers. Onmiddellijk na het verwerken wordt het vlees vacuum verpakt en ingevroren. Verser kan niet.
  </p>

  <p> {{!-- TODO: make this stand out --}}
    Meer dan ooit is het beschermen van de natuur nodig. Met veel plezier steunt <emph>Veeakker</emph> dan ook dit project. Door aan Natuurpunt een goede prijs te betalen voor de dieren, krijgt de organisatie extra middelen ter beschikking voor natuurbehoud. Maar dat is nog niet alles. Op alle bestellingen van Natuurpunt-leden, ongeacht op welke <LinkTo @route="locations.kind" @model="routes">Toer</LinkTo> ze hun bestelling ophalen, gaat een deel van de opbrengst naar de Natuurpunt-afdeling waar de klant woonachtig is. De afdelingen krijgen een op voorhand bepaald percentage van de omzet als steun.
  </p>

  <h1>Blonde d'Aquitaine</h1>
  <p>
    {{!-- TODO: provide deep link to ferm local --}}
    Dit rund is de ideale vleesproducent. We volgden binnen onze vzw <LinkTo @route="about">ferm local</LinkTo> verschillende jaren nauwgezet de 'voederconversie' van onze dieren en kwamen tot de wetenschappelijke vaststelling dat dit type rund de beste voederconversie heeft. Dit wil zeggen dat het dier relatief weinig kilo's veevoeder nodig heeft om 1 kilo vlees aan te zetten. Bovendien is het vlees zeer gelijkmatig en mals, en smaakt het zeer goed. Tot slot kalven ze nog natuurlijk en hebben weinig tot geen medicatie nodig wat het vlees dan weer gezonder maakt.
  </p>

  <p>
    De voederconversie is belangrijk omdat ook de productie van veevoeder een impact heeft op het milieu. Veel grondstoffen worden uit verre landen ingevoerd met alle gevolgen vandien voor het milieu zowel hier als in de landen van herkomst.
  </p>

  <h1>Grasstiertje</h1>

  <p>
    Het Grasstiertje is een jonge Blonde d’Aquitaine en een alternatief voor het minder duurzame kalfsvlees. In tegenstelling tot kalfsvlees krijgt het dier de mogelijkheid om langer door te groeien. De dieren worden geslacht als ze ongeveer één jaar oud zijn. Hierdoor hebben ze nog een periode van sterke groei meegemaakt dankzij een lange zoogperiode en het weidegras. Dit komt de voederconversie ten goede. Op deze leeftijd heeft het dier een redelijke massa kunnen aanzetten en is het nog steeds malser dan een rund dat ouder is.
  </p>

  <Design::Gallery />
  <Design::HeroImage />
</div>
