<div class="tabcontent textbook">
  <h1>Kip van Belgische oorsprong</h1>
  <p>Onze kippen zijn uitsluitend van Belgische oorsprong.</p>

  <p>Er wordt veel aandacht besteed aan de hygiëne van de stallen en de dieren. Dit heeft tot gevolg dat de nood aan antibiotica zo goed als uitgesloten wordt. Er wordt ook geen preventieve antibiotica gebruikt. De kippen krijgen voldoende ruimte om te scharrelen en de stallen zijn voorzien van stro zodat de kippen kunnen nestelen en een bezigheid hebben. Kippen die zich gaan vervelen, pikken elkaar. Het is dus belangrijk ervoor te zorgen dat ze voldoende activiteiten hebben om zich mee bezig te houden.</p>

  <p>Het vlees valt op doordat het een vaste structuur heeft en weinig vocht verliest. Doordat het dier enkel granen krijgt en meer bewegingsvrijheid heeft het vlees een vastere structuur. Een lager watergebruik bij het slachten heeft tot gevolg dat het vlees minder vocht verliest tijdens het bakken.</p>

  <p>Sedert 2021 bieden we ook weidekip aan. Vermits er enkel tijdens het seizoen goed gras voorhanden is bieden we deze kippen enkel tijdens het weideseizoen aan.</p>

  <Design::Gallery />
  <Design::HeroImage />
</div>
