<div class="tabcontent textbook">
  <h1>Vis van Pintafish</h1>
  <p>
    Veeakker verkoopt vis van <em>Pintafish</em>, een organisatie die gegroeid is uit Veeakker.
  </p>

  <p>
    Met Pintafish gaan we op zoek naar de meest duurzame initiatieven
    binnen de visvangst. Vissen die gevangen zijn op een manier die geen
    schade brengt aan de natuur, die de visbestanden niet onder druk
    zet, en waarbij geen overschotten zijn en er dus niet nodeloos vis
    vernietigd wordt. Onze logistiek is zo ontwikkeld dat er voor
    Pintafish niet nodeloos vis vernietigd wordt.
  </p>

  {{!-- TODO: Add link to website pintafish --}}

  <Design::Gallery />
  <Design::HeroImage />
</div>
