<div class="tabcontent textbook">
  <h1>Lam</h1>
  <p>
    Lam is een dier dat uit zichzelf weinig hormonen en andere preparaten kan verdragen. Daarom is lamsvlees een veilige en  gezonde keuze. De dieren grazen voornamelijk op de weide. Het zijn kuddedieren en kunnen dus in een grote groep gehouden worden en ingezet worden voor begrazingsprojecten. Als ze dan toch op stal gaan krijgen ze korrels bijgevoederd.
  </p>

  <Design::Gallery />
  <Design::HeroImage />
</div>
