<div class="tabcontent textbook">
  <h1>Varken</h1>

  <p>
    Voor ons varkensvlees werken we samen met de betere Belgische projecten. De varkens worden grootgebracht in een goed verluchte en verlichte stal, zodat de dieren rustig kunnen leven. Ze krijgen voldoende ruimte en er wordt regelmatig gecontroleerd of de stallen proper zijn. De voeders worden streng gecontroleerd. Zo wordt er onder andere gekeken of het voeder geen genetisch gemodificeerde organismes bevat. Onze varkens krijgen ook geen preventieve behandeling tegen ziektes. Hormonen en andere additieven zijn vanzelfsprekend uit den boze. Op deze manier proberen we ervoor te zorgen dat het dier op een zo natuurlijk mogelijke en verantwoorde manier wordt gekweekt.
  </p>
  <Design::Gallery />
  <Design::HeroImage />
</div>
