@import './thumbnail.scss';

.product-card {
  width: 300px;
  height: 350px;
  margin: 1em;

  overflow: hidden;

  text-align: center;

  border: 3px solid $light-base;

  &, * {
    transition: all $normal-transition-time ease-out;
  }

  .picture-info, .description {
    margin: 0;
  }

  .picture-info {
    height: 75%;
    padding: 0;
  }

  .description {
    height: 16%;
    padding: 5%;
  }

  .description {
    color: $base-primary;
    font-family: 'Open Sans';

    .product-title {
      font-size: 1.4em;
      font-weight: bold;
    }

    .alternative-terms {
      font-size: 0.9em;
      display: block;
      height: 2em;
    }
  }

  /* greyed out unavailable pictures */
  .product-disabled .picture img {
    filter: grayscale(1);
  }

  .picture-info {
    position: relative;
    overflow: hidden;
    width: 100%;

    .picture {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
      }
    }

    .icons {
      position: absolute;
      top: 5%;
      right: 5%;

      .icon {
        height: 10px;
        width: 10px;
        position: relative;

        img {
          width: 22px;
          color: white;
          border: solid 0.5px $base-primary;
          background-color: $light-base;
        }
      }
    }
  }

  // Show details or not...
  &.detail {
    .picture-info {
      overflow: hidden;
      margin-left: -10%;
      margin-right: -10%;
      width: 180%;
      height: 20%;

      img {
        margin-top: -35%;
      }

      .icons {
        right: 40%;
        top: 15%;
      }
    }
    .description .alternative-terms {
      height: 0em;
      color: rgba( 255,255,255,0 );
    }

    .amounts {
      margin-top: -1em;
    }
  }
}

.amounts {
  min-width: 230px;
  .configuration {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;

    color:$base-primary;

    .per-pakje-input {
      display: flex;
      align-items: flex-end;
    }

    .select-eenheid {
      background-color: $light-base;
      margin-left: 2px;
      height: 25px;
      border: none;
      color: $base-primary;
    }
  }

  .image-of-packages {
    display: flex;
    padding: 5% 10%;
    height: 50px;
    margin-bottom: 50px;

    .image-spacing-wrapper {
      flex: 1;
      max-width: 60%;
      min-width: 30%;
      margin: 0 -10%;
      img {
        width: 100%;
      }
    }
  }
}

/*de prijs */

.teste{
  margin-top: -3rem;
  margin-bottom: 3rem;
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(73, 59, 59);
}



.actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: -47px;
}

.button-product {
  max-width: 40%;
  margin-top: 8px;
  border-radius: 5px;
  display: inline-block;
  background-color: $base-primary;
  color: white;
  font-size: 15px;
  font-family: 'Open Sans';
  padding: 10px 20px;
}

.button-product:hover {
  background-color: $base-secondary;
}
