.card {
  width: 250px;
  height: 300px;
  margin: 2em;

  overflow: hidden;
  position: relative;

  /* background-color: $light-base; */
  border: 3px solid $light-base;

  &, * {
    transition: all $normal-transition-time ease-out;
  }

  .picture-info, .description {
    margin: 0;
  }

  .picture-info {
    height: 75%;
    padding: 0;
  }

  .description {
    height: 25%;
    padding: 5%;
  }

  .description {
    color: $dark-base;
    font-family: 'Open Sans';

    .product-title {
      font-size: 1.3em;
      font-weight: bold;
    }

    .alternative-terms {
      font-size: 0.9em;
      display: block;
      height: 2em;
    }
  }

  .picture-info {
    position: relative;
    overflow: hidden;
    width: 100%;

    .picture {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
      }
    }

    .icons {
      position: absolute;
      top: 5%;
      right: 5%;

      .icon {
        height: 10px;
        width: 10px;
        position: relative;

        img {
          width: 22px;
          color: white;
          border: solid 0.5px $dark-base;
          background-color: $light-base;
        }
      }
    }
  }

  &.detail {
    .picture-info {
      overflow: hidden;
      margin-left: -10%;
      margin-right: -10%;
      width: 180%;
      height: 20%;

      img {
        margin-top: -35%;
      }

      .icons {
        right: 40%;
        top: 15%;
      }
    }
    .description .alternative-terms {
      height: 0em;
      color: rgba( 255,255,255,0 );
    }
  }
}


.card {
  .amounts {
    .configuration {
      display: flex;

      .per-pakje, .pakjes {
        flex: 1;
      }
    }

    .image-of-packages {
      display: flex;
      padding: 5% 10%;

      .image-spacing-wrapper {
        flex: 1;
        max-width: 60%;
        min-width: 30%;
        margin: 0 -10%;
      }
    }
  }
}
