.containerCheck {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 24px;
  cursor: pointer;
  font-size: 14px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  /*background-color: #E1DBD5;*/
  border: 1px solid #443B36;
}

.checkmarkPay {
  position: absolute;
  top: 9px;
  left: 0;
  height: 15px;
  width: 15px;
  /*background-color: #E1DBD5;*/
  border: 1px solid #443B36;
}

.containerCheck:hover input ~ .checkmark {
  /*background-color: #443B36;*/
}

.containerCheck input:checked ~ .checkmark {
  /*background-color: #443B36;*/
}

.checkmark:after, .checkmarkPay:after {
  content: "";
  position: absolute;
  display: none;
}

.containerCheck input:checked ~ .checkmark:after, .containerCheck input:checked ~ .checkmarkPay:after {
  display: block;
}

.containerCheck .checkmark:after, .containerCheck .checkmarkPay:after {
  left: 3px;
  top: 0px;
  width: 5px;
  height: 9px;
  border: solid #443B36;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
