/*NIEUWS*/
.nieuwstopbanner {
    height: 250px;
    background-image: url('/images/ondergrond-social-extra.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .nieuws h1 {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 100;
    margin-top: 76px;
  }

  .row{
    display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 5%;
  margin-right: 5%;
  }

  .column {
    
    padding: 0 10px;
    margin-top: 50px;
  }

  /*.row {
    margin: 0 10px;
    max-width: 1208px;
    margin: 0 auto;
  }

  /*.row:after {
    content: "";
    display: table;
    clear: both;
  }*/

  .card {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    text-align: center;
    border: 3px solid #443B36;
    padding-bottom: 30px;
  }

  .card img {
    width: 100%;
  }

  .card h3 {
    font-size: 15px;
  }

  .card h3, .card p {
    padding: 13px 16px;
    color: #443B36;
  }

  .card .newsbutton {
    border-bottom: 3px solid #443B36;
    /*border: 1px solid #443B36;*/
    color: #443B36;
    font-size: 12px;
    padding: 8px 15px 5px 15px;
    width: 110px;
    margin: 0 auto;
  }

  .card .newsbutton:hover {
    background-color: #443B36;
    color: #ffffff;
  }

  #nieuwsitem p {
    margin: 0 auto;
    max-width: 1040px;
    color: #443B36;
    text-align: justify;
    padding: 20px 20px 50px 20px;
  }

  #nieuwsitem h1 {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 100;
    margin-top: 76px;
  }

  #nieuwsitem h2 {
    margin: 0 auto;
    font-size: 18px;
    margin-top: 50px;
    color: #443B36;
    max-width: 1040px;
    padding: 0px 20px;
  }