.onstopbanner {
    height: 250px;
    background-image: url('/images/ondergrond-social-extra.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

.onstopbanner h1 {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  margin-top: 76px;
  color: #F0E8DC;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
}

.overons {
  .gallery {
    margin-top: 4rem;
  }
}
