<div class="image-of-packages">
  <EachCount @count={{this.count}}>
    <div class="image-spacing-wrapper">
      {{#if (eq this.offer.typeAndQuantity.unit "C62")}}
        {{#with this.offer.typeAndQuantity.value as |amount|}}
          <img src={{concat "/images/packages/items-" amount ".png"}} alt={{concat "Package with " amount "items in it"}} />
        {{/with}}
      {{/if}}
    </div>
  </EachCount>
</div>
