<div class="image-of-packages">
  <EachCount @count={{@count}}>
    <div class="image-spacing-wrapper">
      {{#if (eq @offer.typeAndQuantity.unit "C62")}}
        {{#let @offer.typeAndQuantity.value as |amount|}}
          <img src={{concat "/images/packages/items-" amount ".png"}} alt={{concat "Package with " amount "items in it"}} />
        {{/let}}
      {{/if}}
    </div>
  </EachCount>
</div>