#account-name {
  font-size: 35px;
  color:$base-primary;
  margin: 50px;
  border-bottom: 3px solid $base-primary-highlighted;
}

.my-account {
  max-width: 50em;
  margin: auto;
}

#account-information {
  display: flex;
  flex-direction: column;
  background-color: white;

  margin: 50px;
  padding: 20px;

  h1 {
    text-align: left;
    color: $base-primary;
  }

  /* p, dl, dd { */
  /*   text-align: left; */
  /*   color: $base-secondary; */
  /* } */

  dl {
    color: #726056;

    dt { margin-top: 1em; font-weight: bold }
    dt:after { content: ":" }
    dd {
      margin-left: 0;
      margin-top: 0;
      display: flex;
      /* color: #726056; */

      input {
        /* color: #726056; */
        padding: 10px;
        border: 1px solid #443b36;
        background-color: #E1DBD5;
        width: 100%;
      }
    }
  }
}
