@use "../../config/colors";

.cart-item.product-disabled {
  text-decoration: line-through;

  .product-disabled-message {
    text-decoration: none;
  }
}

.empty-shop {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  p {
    text-align: center;
    color: colors.$base-primary;
    padding: 20px;
  }
}

.button-product {
  text-align: center;
  padding: 10px;
  margin: 8px auto;
  max-width:fit-content;

  a {
    color: white;
    text-decoration: none;
  }
}

.cart-item {
  font-family: 'Open Sans';
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  margin: 1em 1em;
  padding: 0.5em;

  border-bottom: 3px solid colors.$base-primary;

  h4 {
    color: colors.$base-secondary;
  }

  .cart-thumbnail {
    width: 244px;
  }
}

.order-info {
  /* padding-bottom: 4em; */

  h3 a {
    color: colors.$base-primary;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}


.order-extra {
  i {
    color: colors.$base-secondary;
  }

  * {
    display: inline-block;
  }
}

#remove-button {
  border: none;
  background: none;
  margin-right: 30px;
  font-size: 18px;
}

.fa-times {
  margin: 0 10px;
}

.fa-trash:hover {
  color: colors.$base-primary;
}

.cart-total {
  padding-top: 4rem;
}

.cart-total {
  margin: 0 auto;
  width: 80%;
  text-align: right;
  color: #443B36;
}

.add-comment-button {
  color: #725056;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: bolder;
  font-family: 'Open Sans';
}

.cart-price {
  font-size: 25px;
  margin-bottom: 0px;
}

.cart-message {
  margin: 0px;
}

.button-product-cart {
  text-align: right;
  margin: 15px 0;

  a,button {
    background-color: colors.$base-primary;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans';
    padding: 10px 50px;
  }

  a:hover, button:hover {
    background-color: colors.$base-secondary;
  }
}
