@use "../../config/colors";

.contact-content {
    width: 100%;
    padding: 5% 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: colors.$base-primary;

    p a {
        color: colors.$base-secondary;
    }
}

.faq {
  padding-left: 5%;
}

.faq a {
  border-bottom: 3px solid colors.$base-primary;
  padding: 10px;
  font-family: 'Open Sans';
  color: colors.$base-primary;
}

.faq a:hover {
  background-color: colors.$base-primary;
  color: #ffffff;
}
