<ul class="breadcrumb-cart">
  <li><a href="basket">Winkelmandje</a></li>
  <li><a href="contact-info">Uw Gegevens</a></li>
  <li><a href="ldelivery">Levering / Afhaling</a></li>
  <li><a href="payment">Betalingsgegevens</a></li>
  <li><span class="breadcrumb-txt">Bevestig Bestelling</span></li>
</ul>
<div class="fix"></div>




<div id="checkout-contact">
  <div class="contact-info">


    <div class="contactDetails">
      <h2>Je bestelling is succesgevol geplaatst!</h2><br /><br />
      <h3>Contact informatie</h3>
      <ul>
        <li>Facturatiegegevens</li>
        <li>Naam bedrijf</li>
        <li>Voornaam Familienaam</li>
        <li>Straat 00</li>
        <li>0000 Gemeente</li>
        <li>BTW nummer</li>
      </ul>
      <h3>Levering via xxx</h3>
      <ul>
        <li>Voornaam Familienaam</li>
        <li>Straat 00</li>
        <li>0000 Gemeente</li>
      </ul>
      <p>Zorg voor een diepvries indien je diepgevroren producten bestelt!</p>
      <img class="frost" src="/images/vries.png" alt="Frozen icon" width="25" />
    </div>  <div class="fix"></div>

    <div class="cart-total">
      <p>Prijs <span class="money">€67.50</span></p>
      <p>Prijs levering <span class="money">€x</span></p>
      <p>BTW 6% <span class="money">€x</span></p>
      <p>Totaalprijs <span class="money">€x</span></p>    <br />
      <div class="button-product-cart"><a href="#">BEDANKT VOOR JE BESTELLING!</a></div>
    </div><div class="fix"></div>


  </div>
</div>
<div id="products-shop">
  <table class="cart-items">
    <thead>
      <tr>
        <th class="first">PRODUCT</th>
        <th>PRIJS</th>
        <th>VERPAKKING</th>
        <th>AANTAL</th>
        <th>TOTAAL</th>
      </tr>
    </thead>

    <tbody>
      <tr class="cart-item">
        <td class="product-item first">
          <a href="#" class="image-cart">
            <img src="/images/ons2.jpg" alt="Image of meat" />
          </a>
          <div class="product-item-details">
            <span class="cart-title"><a href="#" title="">PRODUCT</a></span><br />
            <span class="cart-variant">1kg</span>
          </div>

        </td>
        <td class="price"><span class="money">€13.50</span></td>
        <td class="packing"><input type="text" value="2"></td>
        <td class="quantity"><input type="text" value="5"></td>
        <td class="total"><span class="money">€67.50</span></td>
      </tr>

    </tbody>
  </table>
</div>

{{outlet}}
