<ul class="breadcrumb-cart">
  <li><LinkTo @route="webshop.basket">Winkelmandje</LinkTo></li>
  <li><LinkTo @route="webshop.checkout.contact-info">Uw Gegevens</LinkTo></li>
  <li><LinkTo @route="webshop.checkout.delivery">Levering / Afhaling</LinkTo></li>
  <li><LinkTo @route="webshop.checkout.payment">Betalingsgegevens</LinkTo></li>
  <li><span class="breadcrumb-txt">Bevestig Bestelling</span></li>
</ul>
<div class="fix"></div>

Payment status: {{this.model.paymentStatus}} <button type="button" {{on "click" (action this.refreshBasket)}}>Reload</button>

<div class="checkout-contact">
  <div class="contact-info">

    <div class="contactDetails">
      <h2>Je bestelling is succesgevol geplaatst!</h2><br /><br />
      <h3>Contact informatie</h3>
      <ul>
        <li>Facturatiegegevens</li>
        <li>Naam bedrijf</li>
        <li>Voornaam Familienaam</li>
        <li>Straat 00</li>
        <li>0000 Gemeente</li>
        <li>BTW nummer</li>
      </ul>
      <h3>Levering via xxx</h3>
      <ul>
        <li>Voornaam Familienaam</li>
        <li>Straat 00</li>
        <li>0000 Gemeente</li>
      </ul>
      <p>Zorg voor een diepvries indien je diepgevroren producten bestelt!</p>
      <img class="frost" src="/images/vries.png" alt="Frozen icon" width="25" />
    </div>  <div class="fix"></div>

    <div class="cart-total">
      <p>Prijs <span class="money">€67.50</span></p>
      <p>Prijs levering <span class="money">€x</span></p>
      <p>BTW 6% <span class="money">€x</span></p>
      <p>Totaalprijs <span class="money">€x</span></p>    <br />
      <div class="button-product-cart"><a href="#" class="uppercase">bedankt voor je bestelling!</a></div>
    </div><div class="fix"></div>


  </div>
</div>
<Webshop::OrderLines @orderLines={{@model.orderLines}} />

{{outlet}}
