@use "../../../config/colors";

.checkout-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.checkout-contact h2 {
  color: colors.$base-primary;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.checkout-contact p {
  color: colors.$base-primary;
  display: inline-block;
  margin-top: 22px;
  line-height: 2em;

  a {
    color: colors.$base-primary;
    font-weight: bold;
  }
}

.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 2%;
  max-width: 600px;
  border: 5px solid #443B36;
  padding: 20px;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 5rem;

  .error {
    color: #443B36;
  }
}

.contact-info input, .contact-info textarea, .contact-info-different input, .contact-info-different textarea {
  padding: 10px;
  border: 1px solid colors.$base-primary;
  color: colors.$base-primary;
  margin-top: 3px;
  margin-bottom: 8px;
  font-size: 16px;
  background-color: #E1DBD5;
  font-family: 'Open Sans';
}

.contact-info label, .contact-info-different label {
  color: colors.$base-primary;
  font-size: 12px;
  vertical-align: central;
}

.contact-info-different {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 2%;
  max-width: 500px;
}

.contactDetails{
  color: black;


  .frost-div{
    margin-top: 2em;

    display: flex;
    flex-direction: row;

    p{
      margin-top: 10px;
      margin-left: 2px;
    }
  }
  .frost{
    height: 25px;
    width: 25px;
    margin-right: 1ex;
    position: relative;
    top: 1.5ex;
  }
}

.fix{
  text-align: center;
  color: black;
}

.order{
  margin-top: 5rem;
  max-width: 90%;
  margin: auto;
  justify-content: center;
  h2{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    color: black;
    text-transform: uppercase;
  }
}
