@use "../../../config/colors";

.delivery-contact {
  color: colors.$base-primary;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.delivery-map .leaflet-map {
  height: 25rem;
  width: 100%;
  left: 0;
  border: solid white 2px;
}

.delivery-place {
  text-align: center;
}

#frost-disclaimer {
  align-content: center;
  margin: 8px 0;

  p {
    display: inline;
    margin-left: 5px;
    font-size: 18px;
    align-self: center;
  }
}

#extra-info {
  color: colors.$base-primary;
  text-decoration: none;
  margin-bottom: 2rem;
}
