<div id="home-webshop">
  <h1 class="text-purple uppercase">producten in the kijken</h1>
  <div class="forks"><img src="/images/forks-bruin.png" alt="no-alt" width="151"></div>
  <div class="row-product">
    <div class="column-product">
      <ProductCard/>
    </div>
    <div class="column-product">
      <ProductCard/>
    </div>
    <div class="column-product">
      <ProductCard/>
    </div>
    <div class="column-product">
      <ProductCard/>
    </div>
    <div class="column-product">
      <ProductCard/>
    </div>
    <div class="column-product">
      <ProductCard/>
    </div>
  </div>
</div>

<hr />

<h1>{{model.label}} - {{model.childGroups.length}}</h1>

<ul>
  {{#each sortedSubGroups as |subGroup|}}
    <li>{{subGroup.label}}</li>
  {{/each}}
</ul>

{{outlet}}
