<div id="home-webshop">
  <h1>PRODUCTEN IN DE KIJKER</h1>
  <div class="forks"><img src="/images/forks-bruin.png" width="151"></div>
  <div class="row-product">
    <div class="column-product">
      <div class="card-product">
        <a href="product.aspx">
          <div class="container-product">
            <img src="/images/ons2.jpg" class="image" style="width:100%">
            <div class="middle">
              <div class="text">BEKIJK DETAIL</div>
            </div>
          </div>
        </a>
        <h3>PRODUCT</h3>
        <p>text</p>
        <a href="#"><img src="/images/favob.png" width="21" /></a> <a href="#"><img src="/images/vries.png" width="21" /></a> <a href="#"><img src="/images/product-logo.png" width="21" /></a><br />
        <br />
        <div class="pack">
          <div class="custom-select" style="width:100%; margin: 0px;">
            <select>
              <option value="0">VERPAKKING</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="custom-select" style="width:100%; margin: 0px;">
            <select>
              <option value="0">HOEVEEL</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="fix"></div>
        </div>
        <br />
        <div class="button-product"><a href="#">DIRECT BESTELLEN</a></div>
      </div>
    </div>
    <div class="column-product">
      <div class="card-product">
        <a href="product.aspx">
          <div class="container-product">
            <img src="/images/ons2.jpg" class="image" style="width:100%">
            <div class="middle">
              <div class="text">BEKIJK DETAIL</div>
            </div>
          </div>
        </a>
        <h3>PRODUCT</h3>
        <p>text</p>
        <a href="#"><img src="/images/favob.png" width="21" /></a> <a href="#"><img src="/images/vries.png" width="21" /></a> <a href="#"><img src="/images/product-logo.png" width="21" /></a><br />
        <br />
        <div class="pack">
          <div class="custom-select" style="width:100%; margin: 0px;">
            <select>
              <option value="0">VERPAKKING</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="custom-select" style="width:100%; margin: 0px;">
            <select>
              <option value="0">HOEVEEL</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="fix"></div>
        </div>
        <br />
        <div class="button-product"><a href="#">DIRECT BESTELLEN</a></div>
      </div>
    </div>
    <div class="column-product">
      <div class="card-product">
        <a href="product.aspx">
          <div class="container-product">
            <img src="/images/ons2.jpg" class="image" style="width:100%">
            <div class="middle">
              <div class="text">BEKIJK DETAIL</div>
            </div>
          </div>
        </a>
        <h3>PRODUCT</h3>
        <p>text</p>
        <a href="#"><img src="/images/favob.png" width="21" /></a> <a href="#"><img src="/images/vries.png" width="21" /></a> <a href="#"><img src="/images/product-logo.png" width="21" /></a><br />
        <br />
        <div class="pack">
          <div class="custom-select" style="width:100%; margin: 0px;">
            <select>
              <option value="0">VERPAKKING</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="custom-select" style="width:100%; margin: 0px;">
            <select>
              <option value="0">HOEVEEL</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="fix"></div>
        </div>
        <br />
        <div class="button-product"><a href="#">DIRECT BESTELLEN</a></div>
      </div>
    </div>
    <div class="column-product">
      <div class="card-product">
        <a href="product.aspx">
          <div class="container-product">
            <img src="/images/ons2.jpg" class="image" style="width:100%">
            <div class="middle">
              <div class="text">BEKIJK DETAIL</div>
            </div>
          </div>
        </a>
        <h3>PRODUCT</h3>
        <p>text</p>
        <a href="#"><img src="/images/favob.png" width="21" /></a> <a href="#"><img src="/images/vries.png" width="21" /></a> <a href="#"><img src="/images/product-logo.png" width="21" /></a><br />
        <br />
        <div class="pack">
          <div class="custom-select" style="width:100%; margin: 0px;">
            <select>
              <option value="0">VERPAKKING</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="custom-select" style="width:100%; margin: 0px;">
            <select>
              <option value="0">HOEVEEL</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="fix"></div>
        </div>
        <br />
        <div class="button-product"><a href="#">DIRECT BESTELLEN</a></div>
      </div>
    </div>
  </div>
</div>

<hr />

<h1>{{model.label}} - {{model.childGroups.length}}</h1>

<ul>
  {{#each sortedSubGroups as |subGroup|}}
    <li>{{subGroup.label}}</li>
  {{/each}}
</ul>

{{outlet}}
