<h1 class="text-purple">Producten in de kijker</h1>
<Design::Forks @useDarkImage={{true}} />

<div class="products">
  {{#each this.model.sortedEnabledProducts as |product|}}
    <ProductCard @product={{product}} />
  {{/each}}
</div>

{{outlet}}
