{{!-- <h1 class="tab-title">Producten in de kijker</h1>  --}}

<Design::Forks @useDarkImage={{true}} />

<div class="products">
  {{#each (sort-by-index @model.products) as |product|}}
    <ProductCard @product={{product}} />
  {{/each}}
</div>

{{outlet}}
