{{!-- TODO: forks image should be background by CSS --}}
<div class="forks"><img src="/images/forks{{if this.useDarkImage "-bruin"}}.png" alt="Spacer background image of forks" width="151" ...attributes></div>
