.locaties .extra-menu {
  a {
    transition: background-color ease-in-out 0.5s;
    text-transform: uppercase;
    display: block;
    float: left;
    width: 184px;
    border-bottom: 3px solid #AD9A89;
    margin-top: 0px;
    padding: 10px 10px 7px 10px;
    color: #443B36;
    font-size: 83%;
    font-weight: bold;
  }

  a:hover {
    background-color: #AD9A89;
    color: #ffffff;
  }

  a.active {
    border-bottom: 3px solid #443B36;
  }

  a.active:hover {
    background-color: #443B36;
  }
}


.locaties .extra-menu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  min-height: 56px;
  overflow: hidden;
  text-align: center;

}
.extra-menu{
  width:fit-content;
}

@media screen and (min-width: 600px) and (max-width: 1040px) {
  .locaties .extra-menu {
    max-width: 600px;

    a {
      width: 170px;
    }
  }
}

@media screen and (max-width: 600px) {
  .locaties .extra-menu {
    max-width: 1020px;
    margin-bottom: 10px;

    a {
      width: 100%;
      margin: 0;
      margin-top: 10px;
    }
  }
  .extra-menu{
    width:100%;
  }
}
