@import './extra-menu';

.locaties {
  .maps .leaflet-container {
    height: 800px;
    margin: 0 1em;
  }
}

.leaflet-map {
  height: 16rem;
  width: 80%;
  left: 10%;
}

/*LOCATIES*/
.locatiestopbanner {
  height: 250px;
  background-image: url('/images/locaties.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.locaties h1 {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 100;
  margin-top: 76px;
}

.locaties h5 {
  margin: 0px;
}

.locaties .extra-menu {
  margin: 0 auto;
  min-height: 56px;
  overflow: hidden;
}

.winkel, .toeren, .natuurwinkels, .buurderijen, .webshop {
  display: block;
  float: left;
  width: 184px;
  border-bottom: 3px solid #AD9A89;
  text-align: center;
  margin: 10px;
  color: #443B36;
}

.winkel:hover, .toeren:hover, .natuurwinkels:hover, .buurderijen:hover, .webshop:hover {
  background-color: #AD9A89;
  cursor: pointer;
  color: #ffffff;
}

.winkel.active, .toeren.active, .natuurwinkels.active, .buurderijen.active, .webshop.active {
  border-bottom: 3px solid #443B36;
  cursor: pointer;
}

.winkel.active:hover, .toeren.active:hover, .natuurwinkels.active:hover, .buurderijen.active:hover, .webshop.active:hover {
  background-color: #443B36;
  cursor: pointer;
}

.winkel h5, .toeren h5, .natuurwinkels h5, .buurderijen h5, .webshop h5 {
  padding: 10px;
  margin-top: 0px !important;
}

.locaties p {
  margin: 0 auto;
  max-width: 1040px;
  color: #443B36;
  text-align: justify;
  padding: 30px 20px;
}

#winkel, #toeren, #natuurwinkels, #buurderijen, #webshop {
  display: none;
}

.maps {
  margin-bottom: 10px;
}

.maps img {
  width: 100%;
}

