@import './extra-menu';

#locaties {
  .maps .leaflet-container {
    height: 800px;
    margin: 0 1em;
  }
}


/* Import from NetPulse */
@media screen and (min-width: 1040px) {
  #locatiestopbanner {
    height: 250px;
    background-image: url('/images/locaties.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  #locaties h1 {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 100;
    margin-top: 76px;
  }


  #locaties p {
    margin: 0 auto;
    max-width: 1040px;
    color: #443B36;
    text-align: justify;
    padding: 30px 20px;
  }

  #winkel, #toeren, #natuurwinkels, #buurderijen, #webshop {
    display: none;
  }

  .maps {
    margin-bottom: 50px;
  }

  .maps img {
    width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1040px) {
  #locatiestopbanner {
    height: 250px;
    background-image: url('/images/locaties.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  #locaties h1 {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 100;
    margin-top: 76px;
  }


  #locaties p {
    margin: 0 auto;
    max-width: 1040px;
    color: #443B36;
    text-align: justify;
    padding: 30px 20px;
  }

  #winkel, #toeren, #natuurwinkels, #buurderijen, #webshop {
    display: none;
  }

  .maps {
    margin-bottom: 50px;
  }

  .maps img {
    width: 100%;
  }
}


@media screen and (max-width: 600px) {
  #locatiestopbanner {
    height: 250px;
    background-image: url('/images/locaties.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  #locaties h1 {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 100;
    margin-top: 76px;
  }

  #locaties p {
    margin: 0 auto;
    max-width: 1040px;
    color: #443B36;
    text-align: justify;
    padding: 30px 20px;
  }

  #winkel, #toeren, #natuurwinkels, #buurderijen, #webshop {
    display: none;
  }

  .maps {
    margin-bottom: 50px;
  }

  .maps img {
    width: 100%;
  }
}
