{{outlet}}


<div class="sub-menu">
  <h3>RUND</h3>
  <ul>
    <li><a href="#">BLONDE D'AQUITANE</a></li>
    <li><a href="#">GRASSTIER</a></li>
    <li><a href="#">GALLOWAY NATUURPUNT</a></li>
    <li><a href="#">MAALVLEES</a></li>
    <li><a href="#">PAKETTEN</a></li>
  </ul>
  <div class="fix"></div>
</div>

<div class="products-shop">

  <ul class="breadcrumb">
    <li><a href="#">Webshop</a></li>
    <li><a href="#">Vlees</a></li>
    <li><a href="#">Rund</a></li>
    <li><a href="#">Grasstier</a></li>
  </ul>
  <div class="fix"></div>

  <div class="row-product">
    <div class="column-product">
      <div class="card-product">
        <a href="product">
          <div class="container-product">

            <img src="/images/ons2.jpg" alt="no-alt" class="image w-full">
            <div class="middle">
              <div class="text">BEKIJK DETAIL</div>





            </div>
          </div>
        </a>
        <h3>PRODUCT</h3>
        <p>text</p>
        <a href="#"><img src="/images/favob.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/vries.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/product-logo.png" alt="no-alt" width="21" /></a><br />
        <br />
        <div class="pack">

          <div class="custom-select w-full m-0">
            <select>
              <option value="0">VERPAKKING</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="custom-select w-full m-0">
            <select>
              <option value="0">HOEVEEL</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="fix"></div>

        </div>
        <br />



        <div class="button-product"><a href="#">DIRECT BESTELLEN</a></div>
      </div>
    </div>


    <div class="column-product">
      <div class="card-product">
        <a href="product">
          <div class="container-product">

            <img src="/images/ons2.jpg" alt="no-alt" class="image w-full">
            <div class="middle">
              <div class="text">BEKIJK DETAIL</div>





            </div>
          </div>
        </a>
        <h3>PRODUCT</h3>
        <p>text</p>
        <a href="#"><img src="/images/favob.png"  alt="no-alt"width="21" /></a> <a href="#"><img src="/images/vries.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/product-logo.png" alt="no-alt" width="21" /></a><br />
        <br />
        <div class="pack">

          <div class="custom-select w-full m-0">
            <select>
              <option value="0">VERPAKKING</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="custom-select w-full m-0">
            <select>
              <option value="0">HOEVEEL</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="fix"></div>

        </div>
        <br />



        <div class="button-product"><a href="#">DIRECT BESTELLEN</a></div>
      </div>
    </div>

    <div class="column-product">
      <div class="card-product">
        <a href="product">
          <div class="container-product">

            <img src="/images/ons2.jpg" alt="no-alt" class="image w-full">
            <div class="middle">
              <div class="text">BEKIJK DETAIL</div>





            </div>
          </div>
        </a>
        <h3>PRODUCT</h3>
        <p>text</p>
        <a href="#"><img src="/images/favob.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/vries.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/product-logo.png" alt="no-alt" width="21" /></a><br />
        <br />
        <div class="pack">

          <div class="custom-select w-full m-0">
            <select>
              <option value="0">VERPAKKING</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="custom-select w-full m-0">
            <select>
              <option value="0">HOEVEEL</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="fix"></div>

        </div>
        <br />



        <div class="button-product"><a href="#">DIRECT BESTELLEN</a></div>
      </div>
    </div>
    <div class="column-product">
      <div class="card-product">
        <a href="product">
          <div class="container-product">

            <img src="/images/ons2.jpg" alt="no-alt" class="image w-full">
            <div class="middle">
              <div class="text">BEKIJK DETAIL</div>





            </div>
          </div>
        </a>
        <h3>PRODUCT</h3>
        <p>text</p>
        <a href="#"><img src="/images/favob.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/vries.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/product-logo.png" alt="no-alt" width="21" /></a><br />
        <br />
        <div class="pack">

          <div class="custom-select w-full m-0">
            <select>
              <option value="0">VERPAKKING</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="custom-select w-full m-0">
            <select>
              <option value="0">HOEVEEL</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="fix"></div>

        </div>
        <br />



        <div class="button-product"><a href="#">DIRECT BESTELLEN</a></div>
      </div>
    </div>
    <div class="column-product">
      <div class="card-product">
        <a href="product">
          <div class="container-product">

            <img src="/images/ons2.jpg" alt="no-alt" class="image w-full">
            <div class="middle">
              <div class="text">BEKIJK DETAIL</div>





            </div>
          </div>
        </a>
        <h3>PRODUCT</h3>
        <p>text</p>
        <a href="#"><img src="/images/favob.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/vries.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/product-logo.png" alt="no-alt" width="21" /></a><br />
        <br />
        <div class="pack">

          <div class="custom-select w-full m-0">
            <select>
              <option value="0">VERPAKKING</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="custom-select w-full m-0">
            <select>
              <option value="0">HOEVEEL</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="fix"></div>

        </div>
        <br />



        <div class="button-product"><a href="#">DIRECT BESTELLEN</a></div>
      </div>
    </div>
    <div class="column-product">
      <div class="card-product">
        <a href="product">
          <div class="container-product">

            <img src="/images/ons2.jpg" alt="no-alt" class="image w-full">
            <div class="middle">
              <div class="text">BEKIJK DETAIL</div>





            </div>
          </div>
        </a>
        <h3>PRODUCT</h3>
        <p>text</p>
        <a href="#"><img src="/images/favob.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/vries.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/product-logo.png" alt="no-alt" width="21" /></a><br />
        <br />
        <div class="pack">

          <div class="custom-select w-full m-0">
            <select>
              <option value="0">VERPAKKING</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="custom-select w-full m-0">
            <select>
              <option value="0">HOEVEEL</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="fix"></div>

        </div>
        <br />



        <div class="button-product"><a href="#">DIRECT BESTELLEN</a></div>
      </div>
    </div>
    <div class="column-product">
      <div class="card-product">
        <a href="product">
          <div class="container-product">

            <img src="/images/ons2.jpg" alt="no-alt" class="image w-full">
            <div class="middle">
              <div class="text">BEKIJK DETAIL</div>





            </div>
          </div>
        </a>
        <h3>PRODUCT</h3>
        <p>text</p>
        <a href="#"><img src="/images/favob.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/vries.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/product-logo.png" alt="no-alt" width="21" /></a><br />
        <br />
        <div class="pack">

          <div class="custom-select w-full m-0">
            <select>
              <option value="0">VERPAKKING</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="custom-select w-full m-0">
            <select>
              <option value="0">HOEVEEL</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="fix"></div>

        </div>
        <br />



        <div class="button-product"><a href="#">DIRECT BESTELLEN</a></div>
      </div>
    </div>

    <div class="column-product">
      <div class="card-product">
        <a href="product">
          <div class="container-product">

            <img src="/images/ons2.jpg" alt="no-alt" class="image w-full">
            <div class="middle">
              <div class="text">BEKIJK DETAIL</div>





            </div>
          </div>
        </a>
        <h3>PRODUCT</h3>
        <p>text</p>
        <a href="#"><img src="/images/favob.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/vries.png" alt="no-alt" width="21" /></a> <a href="#"><img src="/images/product-logo.png" alt="no-alt" width="21" /></a><br />
        <br />
        <div class="pack">

          <div class="custom-select w-full m-0">
            <select>
              <option value="0">VERPAKKING</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="custom-select w-full m-0">
            <select>
              <option value="0">HOEVEEL</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="fix"></div>

        </div>
        <br />



        <div class="button-product"><a href="#">DIRECT BESTELLEN</a></div>
      </div>
    </div>
  </div>

</div>  <div class="fix"></div>
{{outlet}}