{{outlet}}

<div class="delivery">
  <h1>ALGEMENE VOORWAARDEN </h1>
  <div class="forks"><img src="/images/forks-bruin.png" alt="no-alt" width="151"></div><br /><br />
  <p class="center">Laat je bestelling leveren aan huis of pik ze zelf op. <br />Dit zijn de opties:</p>

  <h4>Levering via Post.nl + foto</h4> <p class="center">Levering aan huis + leveringstermijn + kost.  Je betaalt vooraf.</p>

  <h4>Afhalen op de tours van Veeakker + foto</h4>
  <p>
    Maandelijks rijdt het busje van Veeakker rond en houdt halt op bepaalde dagen en uren op een 40tal plaatsen met onze producten. <br />
    Afhalen op deze manier is gratis, maar je dient het pakketje zelf op te halen op de aangegeven plek en tijdsblok. Je betaalt bij afhaling. <br />
    Uitzondering: in de regio’s Hoeilaart, Tielt-Winge en Mechelen komt het busje al jaar en dag aan huis. Dit blijft dan ook bestaan. Levering aan huis via deze weg kan vanaf een bestelbedrag van minimum €125. <br />
    Lijst van data waarop deze tours plaats vinden.<br />
    Pop up die je kan sluiten met een X bovenaan (je blijft pagina erachter zien) met daarop de lijst van data voor 2019 – evt. met tabjes opgesplits in de 3 regio’s<br /><br />

  </p>
  <div class="kader">
    <p>
      <strong>! VOORDEEL</strong>  Wil je je vlees op een bepaalde manier gesneden of heb je een andere wens of vraag bij een product dat je wil kopen? Klanten van de tours van Veeakker kunnen gebruik maken van een opmerkingenveld in de webshop. Je krijgt het opmerkingenveld echter enkel te zien als je ingelogd bent met je account waarin je gekozen hebt voor leveringen via de Tours van Veeakker. <br /><br /> Nog geen account? <a href="inloggen.aspx">Maak ze nu aan ></a>
    </p>
  </div>
  <h4>Afhalen in winkels die onze producten verkopen + foto</h4>
  <p>
    Maandelijks worden deze winkels beleverd, jouw pakketje kan meerijden. Je haalt het op in de winkel de dag van de  levering of de dag erna, tijdens de openingsuren van de winkel. Je betaalt bij afhaling.
  </p>
  <br />
  <div class="kader">
    <p>
      <strong>! OPGELET</strong> bij afhaling op de tours of in de winkels: de stukprijzen op de webshop zijn in dat geval indicatieve prijzen. Je vlees of vis wordt (ter plekke) gewogen en je betaalt de kiloprijs. Het kan dus zijn dat je bestelling iets goedkoper of iets duurder uitkomt dan in de webshop.
    </p>
  </div>

  <p>
    Wil je graag afhalen, ontdek dan hieronder wat voor jou de beste plek is.
    Kaart (in & uitzoomen mogelijk) met daarop icoontjes in 2 kleuren (stopplaatsen tours en afhaalpunten winkels)  (= eenvoudigere versie van de kaart bij locaties op de website)

    + zoekfunctie om te zoeken op plaatsnaam, postcode (je krijgt dan suggesties in de buurt) of (deel van)naam winkel – visueel gewoon 1 veld waarin je invult

    Klik je op een icoontje krijg je onder de kaart te zien:
    -	de naam van de winkel of het afhaalpunt (+ naam Tour)
    -	 adres
    -	opsomming van data in 2019 dat er daar geleverd / halt gehouden wordt + bij de tours het tijdsblok
  </p>
  <div class="fix"></div>
</div>
{{outlet}}