{{outlet}}
<div class="contact">
  <h1 class="uppercase">contacteer veeakker</h1>
  <div class="forks"><img src="/images/forks-bruin.png" alt="Background spacer image of forks" width="151" /></div>
  <div class="winkel-kaart">
    <div class="winkel-home">
      <ul class="adres">
        <li><strong>Slagerij - Kantoor</strong></li>
        <li>Slachthuislaan 3a, 3000 Leuven (B)</li>
        <li><a href="mailto:hello@veeakker.be" title="email">hello@veeakker.be</a></li>
        <li>016/20.62.38</li>
        <li>Tijdens leveringen: 0475/983162</li>
      </ul>


      <div class="faq">{{link-to "faq" "faq" class="uppercase"}}</div>
    </div>
    <div class="kaart"><img src="/images/kaart.png" alt="Map image" /></div>
    <div class="winkel-uren">

      <h3 class="uppercase">openingsuren</h3>
      <div class="dagen">
        <ul>
          <li><strong>Maandag t/m vrijdag:</strong></li>

          <li><strong>Zaterdag:</strong></li>
          <li><strong>Zondag:</strong></li>
        </ul>
      </div>
      <div class="uren">
        <ul>

          <li>09u00 - 18u30</li>

          <li>09u00 - 18u00</li>
          <li>Gesloten</li>
        </ul>
      </div>
      <div class="fix"></div>

    </div>
  </div><div class="fix"></div>

</div><div class="fix"></div>
{{outlet}}
