{{outlet}}

<div id="products-shop">
  <h1>MIJN FAVORIETEN</h1>

  <div class="forks"><img src="/images/forks-bruin.png" width="151"></div>

  <table class="cart-items">
    <thead>
      <tr>
        <th class="first">PRODUCT</th>
        <th>PRIJS</th>
        <th>VERPAKKING</th>
        <th>AANTAL</th>
        <th>REMOVE</th>
        <th>TOTAAL</th>
      </tr>
    </thead>

    <tbody>
      <tr class="cart-item">
        <td class="product-item first">
          <a href="#" class="image-cart">
            <img src="/images/ons2.jpg">
          </a>
          <div class="product-item-details">
            <span class="cart-title"><a href="#" title="">PRODUCT</a></span><br />
            <span class="cart-variant">1kg</span><br />
            <div class="button-product-cart"><a href="basket">BESTELLEN</a></div>
          </div>

        </td>
        <td class="price"><span class="money">€13.50</span></td>
        <td class="packing"><input type="text" value="2"></td>
        <td class="quantity"><input type="text" value="5"></td>
        <td class="remove"> <a href="#">X</a></td>
        <td class="total"><span class="money">€67.50</span></td>
      </tr>

    </tbody>
    <tbody>
      <tr class="cart-item">
        <td class="product-item first">
          <a href="#" class="image-cart">
            <img src="/images/ons2.jpg">
          </a>
          <div class="product-item-details">
            <span class="cart-title"><a href="#" title="">PRODUCT</a></span><br />
            <span class="cart-variant">1kg</span><br />
            <div class="button-product-cart"><a href="basket">BESTELLEN</a></div>
          </div>

        </td>
        <td class="price"><span class="money">€13.50</span></td>
        <td class="packing"><input type="text" value="2"></td>
        <td class="quantity"><input type="text" value="5"></td>
        <td class="remove"> <a href="#">X</a></td>
        <td class="total"><span class="money">€67.50</span></td>
      </tr>

    </tbody>
  </table>


</div>
{{outlet}}
