{{outlet}}

<div class="products-shop">
  <h1 class="uppercase">mijn favorieten</h1>

  <Design::Forks @useDarkImage={{true}} />

  <table class="cart-items">
    <thead>
      <tr>
        <th class="first uppercase">product</th>
        <th class="uppercase">prijs</th>
        <th class="uppercase">verpakking</th>
        <th class="uppercase">aantal</th>
        <th class="uppercase">remove</th>
        <th class="uppercase">totaal</th>
        <th><img src="/images/winkelmandjeb.png" alt="Shopping basket icon" width="20" /></th>
      </tr>
    </thead>

    <tbody>
      <tr class="cart-item">
        <td class="product-item first">
          <a href="#" class="image-cart">
            <img src="/images/ons2.jpg" alt="Meat" />
          </a>
          <div class="product-item-details">
            <span class="cart-title"><a href="#" title="" class="uppercase">product</a></span><br />
            <span class="cart-variant">1kg</span><br />
          </div>
          <br /><br />
        </td>
        <td class="price"><span class="money">€13.50</span></td>
        <td class="packing"><input type="text" value="2"></td>
        <td class="quantity"><input type="text" value="5"></td>
        <td class="remove"> <a href="#">X</a></td>
        <td class="total"><span class="money">€67.50</span></td>
        <td>
          <a href="basket">
            <img src="/images/winkelmandjeb.png" alt="Shopping basket icon" width="15" />
          </a>
        </td>
      </tr>

    </tbody>
    <tbody>
      <tr class="cart-item">
        <td class="product-item first">
          <a href="#" class="image-cart">
            <img src="/images/ons2.jpg" alt="Meat" />
          </a>
          <div class="product-item-details">
            <span class="cart-title"><a href="#" title="" class="uppercase">product</a></span><br />
            <span class="cart-variant">1kg</span><br />
          </div>
          <br /><br />
        </td>
        <td class="price"><span class="money">€13.50</span></td>
        <td class="packing"><input type="text" value="2"></td>
        <td class="quantity"><input type="text" value="5"></td>
        <td class="remove"> <a href="#">X</a></td>
        <td class="total"><span class="money">€67.50</span></td>
        <td>
          <a href="basket">
            <img src="/images/winkelmandjeb.png" alt="Shopping basket icon" width="15" />
          </a>
        </td>
      </tr>

    </tbody>
  </table>
</div>

{{outlet}}
