{{outlet}}
<div class="login">
  <div class="checkout-contact">
    <div class="contact-info">

      <h1 class="tab-title">inloggen</h1>

      <Design::Forks />

      <br>

      <Input @value={{this.name}} placeholder="E-mail" /> <br />
      <Input @value={{this.company}} placeholder="Wachtwoord" /> <br />

      <div class="button-product-cart"><a href="#">Inloggen</a></div>
      <div class="button-product-cart"><a href="#">Registreer</a></div>
      <div class="button-product-cart"><a href="#">Wachtwoord vergeten?</a></div>
    </div>
  </div>
</div>
{{outlet}}
