{{outlet}}


<div id="products-shop">
  <h1>MIJN BESTELLINGEN</h1>

  <div class="forks"><img src="/images/forks-bruin.png" width="151"></div><br /><br />

  <div class="accordionOrders">
    <span class="dataBestelling">04 maart 2019 - Bestelnummer xxxxxxx8</span>
  </div>
  <div class="panelOrders">
    <table class="cart-itemsBestellingen">
      <thead>
        <tr>
          <th class="first">PRODUCT</th>
          <th>PRIJS</th>
          <th>VERPAKKING</th>
          <th>AANTAL</th>
          <th>REMOVE</th>
          <th>TOTAAL</th>
        </tr>
      </thead>

      <tbody>
        <tr class="cart-item">
          <td class="product-item first">
            <a href="#" class="image-cart">
              <img src="/images/ons2.jpg">
            </a>
            <div class="product-item-details">
              <span class="cart-title"><a href="#" title="">PRODUCT</a></span><br />
              <span class="cart-variant">1kg</span><br />

            </div>

          </td>
          <td class="price"><span class="money">€13.50</span></td>
          <td class="packing"><input type="text" value="2"></td>
          <td class="quantity"><input type="text" value="5"></td>
          <td class="remove"> <a href="#">X</a></td>
          <td class="total"><span class="money">€67.50</span></td>
        </tr>

      </tbody>
      <tbody>
        <tr class="cart-item">
          <td class="product-item first">
            <a href="#" class="image-cart">
              <img src="/images/ons2.jpg">
            </a>
            <div class="product-item-details">
              <span class="cart-title"><a href="#" title="">PRODUCT</a></span><br />
              <span class="cart-variant">1kg</span><br />
            </div>

          </td>
          <td class="price"><span class="money">€13.50</span></td>
          <td class="packing"><input type="text" value="2"></td>
          <td class="quantity"><input type="text" value="5"></td>
          <td class="remove"> <a href="#">X</a></td>
          <td class="total"><span class="money">€67.50</span></td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="accordionOrders">
    <span class="dataBestelling">05 maart 2019 - Bestelnummer xxxxxxx8</span>
  </div>
  <div class="panelOrders">
    <table class="cart-itemsBestellingen">
      <thead>
        <tr>
          <th class="first">PRODUCT</th>
          <th>PRIJS</th>
          <th>VERPAKKING</th>
          <th>AANTAL</th>
          <th>REMOVE</th>
          <th>TOTAAL</th>
        </tr>
      </thead>

      <tbody>
        <tr class="cart-item">
          <td class="product-item first">
            <a href="#" class="image-cart">
              <img src="/images/ons2.jpg">
            </a>
            <div class="product-item-details">
              <span class="cart-title"><a href="#" title="">PRODUCT</a></span><br />
              <span class="cart-variant">1kg</span><br />

            </div>

          </td>
          <td class="price"><span class="money">€13.50</span></td>
          <td class="packing"><input type="text" value="2"></td>
          <td class="quantity"><input type="text" value="5"></td>
          <td class="remove"> <a href="#">X</a></td>
          <td class="total"><span class="money">€67.50</span></td>
        </tr>

      </tbody>
      <tbody>
        <tr class="cart-item">
          <td class="product-item first">
            <a href="#" class="image-cart">
              <img src="/images/ons2.jpg">
            </a>
            <div class="product-item-details">
              <span class="cart-title"><a href="#" title="">PRODUCT</a></span><br />
              <span class="cart-variant">1kg</span><br />
            </div>

          </td>
          <td class="price"><span class="money">€13.50</span></td>
          <td class="packing"><input type="text" value="2"></td>
          <td class="quantity"><input type="text" value="5"></td>
          <td class="remove"> <a href="#">X</a></td>
          <td class="total"><span class="money">€67.50</span></td>
        </tr>

      </tbody>
    </table>
  </div>   <div class="accordionOrders">
    <span class="dataBestelling">06 maart 2019 - Bestelnummer xxxxxxx8</span>
  </div>
  <div class="panelOrders">
    <table class="cart-itemsBestellingen">
      <thead>
        <tr>
          <th class="first">PRODUCT</th>
          <th>PRIJS</th>
          <th>VERPAKKING</th>
          <th>AANTAL</th>
          <th>REMOVE</th>
          <th>TOTAAL</th>
        </tr>
      </thead>

      <tbody>
        <tr class="cart-item">
          <td class="product-item first">
            <a href="#" class="image-cart">
              <img src="/images/ons2.jpg">
            </a>
            <div class="product-item-details">
              <span class="cart-title"><a href="#" title="">PRODUCT</a></span><br />
              <span class="cart-variant">1kg</span><br />

            </div>

          </td>
          <td class="price"><span class="money">€13.50</span></td>
          <td class="packing"><input type="text" value="2"></td>
          <td class="quantity"><input type="text" value="5"></td>
          <td class="remove"> <a href="#">X</a></td>
          <td class="total"><span class="money">€67.50</span></td>
        </tr>

      </tbody>
      <tbody>
        <tr class="cart-item">
          <td class="product-item first">
            <a href="#" class="image-cart">
              <img src="/images/ons2.jpg">
            </a>
            <div class="product-item-details">
              <span class="cart-title"><a href="#" title="">PRODUCT</a></span><br />
              <span class="cart-variant">1kg</span><br />
            </div>

          </td>
          <td class="price"><span class="money">€13.50</span></td>
          <td class="packing"><input type="text" value="2"></td>
          <td class="quantity"><input type="text" value="5"></td>
          <td class="remove"> <a href="#">X</a></td>
          <td class="total"><span class="money">€67.50</span></td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
{{outlet}}
<!--TODO
<script>
var acc = document.getElementsByClassName("accordionOrders");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panelOrders = this.nextElementSibling;
    if (panelOrders.style.maxHeight){
      panelOrders.style.maxHeight = null;
    } else {
      panelOrders.style.maxHeight = panelOrders.scrollHeight + "px";
    }
  });
}
</script>-->
