<div class="overons textbook">
  <div class="onstopbanner">
    {{!-- <div class="talen">
      <LanguageList />
    </div> --}}
    <h1 class="uppercase">over ons</h1>
    <Design::Forks/>
  </div>
  <h1>Visie en missie in evolutie</h1>
  <h2>Start</h2>
  <p>
    Veeakker is vandaag een familiebedrijf, van een vader en twee
    zonen. Het begon in 1983 met een kleine varkens- en schapenboerderij
    / slagerij met eigen gekweekt vlees. Wim startte de boerderij op
    vanuit een ideaal. Met de visie dat veeteelt ook anders kon. Op
    een duurzame manier met respect voor dier en natuur werd het bedrijf
    opgericht. Alles wat er geproduceerd werd, werd rechtstreeks aan de
    consument verkocht. Zo ontstond Veeakker. Met deze manier van werken
    stond Veeakker bovendien aan de wieg van de directe verkoop in
    België. Mede door onze jarenlange inspanningen zijn heel wat
    boerderijen ook gestart met directe verkoop. Rond 1985 was dit
    baanbrekend, we zijn heel blij dat dit systeem van verkoop vandaag
    gangbaar is geworden. Heel wat boederijen hebben er hun leefbaarheid
    aan te danken.
  </p>

  <h2>ferm local</h2>
  <p>
    Een exponent in onze zoektocht naar een circulaire boerderij was de
    oprichting van ferm local. Samen met ingenieur Guy Claessens en met
    parciële financiële ondersteuning van <a href="https://www.vlaio.be/nl">het IWT</a>
    zetten we een project op waarmee boeren zelf op landbouwgrond van de
    hoeve de grondstoffen voor hun voeders konden telen en op de hoeve
    verwerken tot veevoer. Op deze manier moet er geen soja of andere
    grondstoffen meer aangekocht worden. Jaarlijks wordt er
    immers ongeveer de oppervlakte van Portugal aan regenwoud gekapt in
    Brazilië om tegemoet te komen aan de vraag naar soja voor verwerking
    in veevoeder. Soja die dan bovendien ook nog geëxporteerd moet
    worden naar België. Kortom, we ontwierpen een project om
    een gesloten kringloop op de boerderij te creëren. Een zegen voor
    het milieu en voor de gezondheid van de dieren (en zelfs de
    boer). Het project vergde veel tijd en energie. Een 30-tal
    boerderijen sloten aan, teelden hun gewassen zelf en verkochten hun
    vlees rechtstreeks aan de consument. Maar toen daalde plots de prijs
    van de soja op de wereldmarkt. De eigen teelten werden plots
    duurder dan soja op de wereldmarkt en de boeren verkozen helaas
    terug soja. Het bleek dat de doorsnee consument niet wakker lag van
    de eiwitproblematiek of het regenwoud. We leerden dat we
    voorzichtiger moesten zijn wanneer we ons buiten de grenzen van de
    traditionele economie wagen
  </p>

  <h2>Stapje terug</h2>
  <p>
    Als gevolg hiervan hebben we onze werking en onze wensen moeten
    bijstellen. We kweken vandaag niet meer zelf en onze omzetten laten
    het niet meer toe om rechtstreeks van de producent te kopen. We
    trachten wel zo kort mogelijk bij de producent te blijven staan, we
    blijven zoeken naar duurzame initiatieven binnen de veeteelt en
    werken met betrouwbare tussenhandelaars om zo toch de gewenste
    kwaliteit en versheid te kunnen garanderen. Dat zijn de redenen
    waarom bewuste vleeseters de weg vinden naar ons.
  </p>

  <h2>Pintafish</h2>
  <p>Uit de teleurstelling dat we in het vlees, op enkele initiatieven
    na, niet meer de duurzaamheid konden bekomen die we zelf voorop
    zouden willen stellen, en de verontwaardiging over wat er in de
    visindustrie gebeurt, groeide de idee van Pintafish. Met
    Pintafish gaan we op zoek naar de meest duurzame initiatieven binnen
    de visvangst. Vissen die gevangen zijn op een manier die geen schade
    berokkent aan de natuur, die de visbestanden niet onder druk zet, en
    waarbij geen overschotten zijn en er dus ook niet nodeloos vis
    vernietigd wordt. We ondersteunen vissers om op deze manier te
    werken door hen te verzekeren van afzet en een eerlijke prijs te
    geven voor hun vangst. <!-- <a href="https://pintafish.eu">Ga naar PintaFish.</a>  -->
  </p>

  <h1>Engagement voor de toekomst</h1>

  <h2>Bewuste vleesconsumptie promoten</h2>
  <p>
    Van bij de start hebben we het matig consumeren van vlees
    gepromoot. In 1986 pakte Wim uit met de slogan ‘Eet minder vlees,
    maar zorg dat het van goede kwaliteit is’. Het is dan ook geen
    toeval dat Veeakker al jarenlang een tussenstation is voor
    vleeseters die minder of bewuster vlees willen gaan eten. Of
    omgekeerd, voor vegetariërs die terug vlees beginnen te eten, op
    bewuste wijze en in kleine hoeveelheden. Deze rol willen we blijven
    spelen.
  </p>

  <h2>Kwalitatief vlees in harmonie met het milieu</h2>
  <p>
    Daarnaast is onze jarenlange samenwerking met Natuurpunt voor het
    vermarkten van Galloway vlees een duidelijke ondersteuning van het
    milieu en een statement. Al grazend onderhouden de Galloway runderen
    natuurdomeinen. Ze doen op die manier werk dat anders door mensen en
    machines moet gedaan worden en ze eten gezond (ze krijgen geen
    bijvoedering). We beschouwen dit vlees dan ook als een speerpunt in
    ons vlees aanbod. Het is een voorbeeld van duurzaamheid en een
    streefdoel dat we vooropstellen in de selectie van de rest van ons
    aanbod.
  </p>

  <h2>Handel ter ondersteuning van de duurzaamheid</h2>
  <p>
    We produceren niet meer zelf, maar door handel trachten we enerzijds
    de eerlijke, natuurlijke en duurzame producenten of vissers te
    ondersteunen in hun werking en anderzijds de bewuste klant de weg te
    wijzen naar deze duurzame, kwalitatieve producten.
  </p>

  <h2>Voortdurend engagement</h2>
  <p>
    In het verleden is Veeakker een pionier geweest wanneer het ging om
    het duurzaam produceren van gezond en respectvol vlees. We blijven
    ons engageren om ook in de toekomst verantwoorde producten aan te
    blijven bieden en om ons als pionier op te stellen wanneer het gaat
    om vlees productie, vlees vervangers en andere denkpistes die
    gezondheid en milieubewustzijn ondersteunen.
  </p>
  <Design::Gallery />
  <Design::HeroImage />
</div>
