<div class="onstopbanner">
  {{!-- <div class="talen">
    <LanguageList />
    </div> --}}
  <h1 class="uppercase">over ons</h1>
  <Design::Forks/>
</div>
  {{!-- template-lint-disable no-inline-styles --}}
  <div class="overons textbook">
    <h1>Visie en missie in evolutie</h1>
    <p style="text-align: center">
      Veeakker is vandaag een familiebedrijf, gestart door Wim en de zonen Wout en Jan.
    </p>
    <h2>1984 - Start</h2>
    <p>
      Het begon in 1983 met een kleine varkens- en schapenboerderij
      en slagerij met eigen gekweekt vlees. Wim startte de boerderij op
      vanuit de overtuiging dat veeteelt ook anders kon. Op
      een duurzame manier, met respect voor dier en natuur, werd het bedrijf
      opgericht. Alles wat er geproduceerd werd, werd rechtstreeks aan de
      consument verkocht. Zo ontstond Veeakker. Met deze manier van werken
      stond Veeakker bovendien aan de wieg van de directe verkoop in
      België. Mede door de jarenlange inspanningen van Veeakker zijn heel wat
      boerderijen ook gestart met directe verkoop. Rond 1985 was dit
      baanbrekend, we zijn heel blij dat dit systeem van verkoop vandaag
      gangbaar is geworden. Met veel vreugde zien we dat heel wat boederijen er nu hun leefbaarheid
      aan te danken hebben.
    </p>

    <h2>1997 - Ferm local</h2>
    <p>
      Een exponent in onze zoektocht naar een circulaire boerderij was de
      oprichting van ferm local. Samen met ingenieur Guy Claessens en met
      parciële financiële ondersteuning van <a href="https://www.vlaio.be/nl">het IWT</a>
      zetten we een project op waarmee boeren zelf op landbouwgrond van de
      hoeve de grondstoffen voor hun voeders konden telen en op de hoeve
      verwerken tot veevoer. Op deze manier moest er geen soja of andere
      grondstoffen meer aangekocht worden. Jaarlijks wordt er
      immers ongeveer de oppervlakte van Portugal aan regenwoud gekapt in
      Brazilië om tegemoet te komen aan de vraag naar soja voor verwerking
      in veevoeder. Soja die dan bovendien ook nog geëxporteerd moet
      worden naar België. We ontwierpen een project om
      een gesloten kringloop op de boerderij te creëren. Een zegen voor
      het milieu en voor de gezondheid van de dieren (en zelfs de
      boer). Het project vergde veel tijd en energie. Een 30-tal
      boerderijen sloten aan, teelden hun gewassen zelf en verkochten hun
      vlees rechtstreeks aan de consument.  Als gevolg van een plotse van
      de sojaprijs op de wereldmarkt schakelde vele boeren helaas terug over
      naar het traditionele systeem.

      Destijds was het draagvlak voor sojavrij vlees nog onvoldoende groot.  De eitwitproblematiek en het regenwoud werden nog niet als een accuut probleem ervaren.
    </p>

    <p>
      Het risico van de eerste te zijn, te pionieren, is dat de markt er soms nog niet klaar voor is.  We sloten deze piste af en besloten om te focussen op samenwerking.
    </p>

    <h2>2010 - Samen werken</h2>
    <p>
      Met frisse moed werden nieuwe partners gevonden.  Kleinschalige projecten ontstaan steeds en we blijven er onvermoeid naar zoeken.  Omdat kleinschalige projecten een sterk fluctuerend aanbod hebben worden deze veelal diepgevroren aangeboden.  We blijven zoeken naar duurzame initiatieven en werken met betrouwbare tussenhandelaars om zo de gewenste kwaliteit en versheid te garanderen.  Daarom vindt de bewuste consument de weg naar Veeakker.
    </p>
    <p>
      Veeakker selecteert de beste producten en zoekt graag samen met u naar nieuwe initiatieven.
    </p>

    <h2>2013 - Pintafish</h2>
    <p>
      Pintafish is ontstaan uit een persoonlijke zoektocht naar goede vis. Om de diverse visseizoenen te overbruggen werd er gekozen voor diepvries. Dankzij een goed magazijnbeheer en deze bewaarmethode beperken we de voedselverspilling tot een minimum.
    </p>
    <p>
      Doorheen de geschiedenis heen van Pintafish kwamen er steeds meer samenwerkingen met gelijkgezinde bedrijven tot stand.  In het binnenland voor de afzet, in het buitenland voor de aanvoer.  Zo werken we bij voorbeeld samen met Jan en Barbara voor de oesters uit 't Ailand en met Caroline van Soul of Dicretion, de familie Bout voor de harder, enz.  Verwijs ons gerust door als je nog goede projecten kent!
    </p>

    <h1>Voor altijd - van toen en in de toekomst</h1>

    <h2>Bewuste consumptie</h2>
    <p>
      Van bij de start promoten we het matig consumeren van vlees.
      In 1986 pakte Wim uit met de slogan ‘Eet minder vlees,
      maar zorg dat het van goede kwaliteit is’. Het is dan ook geen
      toeval dat Veeakker al jarenlang een tussenstation is voor
      vleeseters bewuster of minder vlees willen gaan eten. Of
      net andersom, voor vegetariërs die terug een hapje vlees beginnen te eten.  Maar dan wel op
      bewuste wijze en in kleine hoeveelheden. Deze rol blijven we spelen.
    </p>

    <h2>Kwalitatief vlees in harmonie met het milieu</h2>
    <p>
      Er is geen recept voor het verbeteren van het milieu, het is een zoektocht.
      Die zoeken we en we werken er liefst zo lang mogelijk mee samen.
    </p>
    <p>
      Daarnaast is onze jarenlange samenwerking met Natuurpunt voor het
      vermarkten van Galloway vlees een duidelijke ondersteuning van het
      milieu en een statement. Al grazend onderhouden de Galloway runderen
      natuurdomeinen. Ze doen op die manier werk dat anders door mensen en
      machines moet gedaan worden en ze eten hun natuurlijke voeding en
      stoten dus ook minder uit.  De nieuwe tractor is een koe.  We beschouwen
      dit vlees dan ook als een speerpunt in ons vlees aanbod. Het is een
      voorbeeld van duurzaamheid en een dat we vooropstellen in de selectie van
      de rest van ons aanbod.
    </p>
    <p>
      Het Mangalitska varken is een zéér vet varken.  In dit kleinschale projecten zitten de varkens steeds buiten en hebben veel ruimte.  Ook het slachten gebruikt in een kleinschalig slachthuis zodat de varkens rustig en zo eerbiedig mogelijk geslacht worden.  De boer versnijdt de varkens zelf en vriest ze dan direct in.  Zo vers mogelijk op je bord.
    </p>
    <p>
      Ken je een project dat in dit plaatje past?  Stuur ze het zeker door.  We bekijken samen of we een vruchtbare samenwerking kunnen opzetten voor zowel de producent als de consument.  Samen staan we sterk.
    </p>

    <h2>Pionieren en helpen pionieren</h2>
    <p>
      Veeakker pioniert altijd, samen of alleen.  Van in het begin, wanneer het ging om het duurzaam produceren van gezond en respectvol vlees, tot op het heden.  Vandaag de dag ondersteunen we allerhande projecten in de voeding.  Om de leefbarheid te vergroten zoeken we naar kleinschalige milieubewuste projecten. We engageren ons om ook in de toekomst verantwoorde producten aan te blijven bieden en om ons als pionier op te stellen wanneer het gaat om vlees productie, vlees vervangers en andere denkpistes die gezondheid en het milieu ondersteunen.
    </p>
    <br />
    <br />
    <Design::HeroImage />
  </div>
