<div vocab="https://schema.org/" typeof="Store" resource="http://veeakker.be/">
  <div class="header">
    <TopMenu />
  </div>

  {{outlet}}

  <div class="footer">
    <div class="netpulse">
      <a href="https://www.netpulse-webdesign.be" target="_blank" rel="noopener">&copy; Netpulse Webdesign</a>
    </div>
  </div>
</div>
