<div id="header">
  {{top-menu}}
</div>
  
{{outlet}}

<div class="footer">
  <!-- <div class="netpulse">
       <a href="https://www.netpulse-webdesign.be" target="_blank">&copy; Netpulse Webdesign</a>
       </div> -->
</div>
