{{page-title "Veeakker"}}
<div id="page-container" vocab="https://schema.org/" typeof="Store" resource="http://veeakker.be/">
  <TopMenu />
  <div id="content-wrap">
      {{outlet}}
  </div>

  <footer>
    <LinkTo @route="webshop.collection-points">levering &amp; afhaling</LinkTo>
    <LinkTo @route="webshop.conditions">algemene voorwaarden</LinkTo>
    <LinkTo @route="contact-us">contact info</LinkTo>
  </footer>
</div>
