<div vocab="https://schema.org/" typeof="Store" resource="http://veeakker.be/">
  <div class="header">
    <TopMenu />
  </div>

  {{outlet}}

  <div class="footer">
    <div class="redpencil">
      {{!-- template-lint-disable no-html-comments --}}
      <!-- Want to work for a cool company that supports open source, open data, and sponsors sites like this one?  Send an email to meettheteam@redpencil.io -->
    </div>
  </div>
</div>
