{{outlet}}

<div class="delivery">
  <div class="locatiestopbanner">
    <h1 class="uppercase">levering &amp; afhaling</h1>
    <Design::Forks @useDarkImage={{true}} /><br /><br />
  </div>
  <div class="collection-ponts" >
    <h2 class="uppercase">Levering</h2>
    <h4>Aan huis</h4>
    <p class="center">
      Levering aan huis.  Bestellen tot-en-met zondag, levering op vrijdag (regio Mechelen op zaterdag).  Gratis levering vanaf €150, anders leverkost van €25.
    </p>

    <h4>Afhalen op de toeren van Veeakker</h4>
    <p>
      Maandelijks rijdt het busje van Veeakker rond en houdt halt op bepaalde dagen en uren op een 40tal plaatsen met onze producten. <br />
      Afhalen op deze manier is gratis, maar je dient het pakketje zelf op te halen op de aangegeven plek en tijdsblok. Je betaalt bij afhaling. <br />
      Uitzondering: in de regio’s Hoeilaart, Tielt-Winge en Mechelen komt het busje al jaar en dag aan huis. Dit blijft dan ook bestaan.<br />
      Lijst van data waarop deze toeren plaats vinden.<br />
    </p>

    <h4>Afhalen in winkels die onze producten verkopen</h4>
    <p>
      Maandelijks worden deze winkels beleverd, jouw pakketje kan meerijden. Je haalt het op in de winkel de dag van de  levering of de dag erna, tijdens de openingsuren van de winkel. Je betaalt bij afhaling.
    </p>
    <div class="kader">
      <h2 class="uppercase">Maatwerk</h2>
      <p>
        Wil je je vlees op een bepaalde manier gesneden of heb je een andere wens of vraag bij een product dat je wil kopen? Zet je opmerking in het opmerkingenveld.  We doen steeds ons best om zo goed mogelijk met je vragen rekening te houden.
      </p>
    </div>
    <div class="kader">
      <h2 class="uppercase">Opgelet</h2>
      <p>
        Bij afhaling op de toeren of in de winkels: de stukprijzen op de webshop zijn in dat geval indicatieve prijzen. Je vlees of vis wordt (ter plekke) gewogen en je betaalt de kiloprijs. Het kan dus zijn dat je bestelling iets goedkoper of iets duurder uitkomt dan de webshop weergeeft.
      </p>
    </div>
    <div class="fix"></div>
  </div>
</div>

{{outlet}}
