{{outlet}}

<div class="delivery">
  <div class="onstopbanner">
  <h1 class="uppercase">algemene voorwaarden</h1>
  <Design::Forks @useDarkImage={{true}} /><br /><br />
  </div>
  <div class="conditionsPage">

  </div>
</div>

{{outlet}}
