{{outlet}}
<div class="contact">
  <div class="onstopbanner">
    <h1 class="uppercase">Contacteer Veeakker</h1>
    <Design::Forks/>
  </div>

  <div class="contact-content">
    <p class="adres">
        <h3 class="uppercase">Adres</h3>
        Koelhuis - Kantoor<br/>
        Neringstraat 24<br/>
        3300 Tienen<br/>
        <a href="mailto:info@veeakker.be" property="email">info@veeakker.be</a><br>
        <a href="tel:+3216206238" property="telephone">016/20.62.38</a><br>
        Tijdens leveringen: <a href="tel:+32475983162">0475/98.31.62</a><br>
        BTW: BE0502627373
    </p>


    <div class="kaart">
      <h3 class="uppercase">Kaart</h3>
      <VeeakkerHomeMap />
    </div>
  </div>

  <!-- <div class="faq"><LinkTo @route="faq" class="uppercase">faq</LinkTo></div> -->

</div>

{{outlet}}
