{{outlet}}
<div class="contact">
  <div class="onstopbanner">
    <h1 class="uppercase">Contacteer Veeakker</h1>
    <Design::Forks/>
  </div>

  <div class="contact-content">
    <p class="adres">
        <h3 class="uppercase">Adres</h3>
        Slagerij - Kantoor<br>
        Slachthuislaan 3a, 3000 Leuven (B)<br>
        <a href="mailto:hello@veeakker.be" property="email">hello@veeakker.be</a><br>
        <a href="tel:+3216206238" property="telephone">016/20.62.38</a><br>
        Tijdens leveringen: <a href="tel:+32475983162">0475/98.31.62</a><br>
    </p>

    
    <div>
      <h3 class="uppercase">Kaart</h3>
      <VeeakkerHomeMap />
    </div>
   

    <p class="uren">
      <h3 class="uppercase">openingsuren</h3>
      Maandag: gesloten <br>
      Dinsdag t/m Vrijdag: 09u00 - 18u30<br>
      Zaterdag: 09u00 - 18u00<br>
      Zondag: Gesloten<br>
    </p>
  </div>

  <div class="faq"><LinkTo @route="faq" class="uppercase">faq</LinkTo></div>

</div>

{{outlet}}
