<div class="content-home">
  <div class="top-banner">
    {{!-- TODO: move languages upward?
    <div class="talen">
      <LanguageList />
    </div> --}}
    <div class="top-banner-items">
      <div class="logo-slo"><LinkTo @route="application"><img about="http://veeakker.be/" property="logo" src="/images/logo-veeakker-rechts.png" alt="Veeakker"/></LinkTo></div>
    </div>
  </div>

  <div class="waarden">
    <h1>Veeakker is</h1>
    <Design::Forks/>
    <div class="waarden3">
      <div class="waarden1"><LinkTo @route="values.customer"><img src="images/klant.png" alt="Gericht op de bewuste klant" /></LinkTo></div>
      <div class="waarden1"><LinkTo @route="values.quality"><img src="images/kwaliteit.png" alt="Versheid en kwaliteit" /></LinkTo></div>
      <div class="waarden1"><LinkTo @route="values.ecology"><img src="images/milieu.png" alt="In harmonie met het milieu" /></LinkTo></div>
    </div>
  </div>
  <div class="social">
    <div class="arrow"><img src="/images/arrow.png" alt="Visual arrow element" /></div>
    <h1>Volg ons op</h1>
    <div class="icons-social">
      <div class="icon-social"><a href="https://www.facebook.com/pages/category/Local-Business/Veeakker-268592110665120/" target="_blank" class="icon-twitter" rel="noopener noreferrer" title="Volg ons op Twitter"></a></div>
      <div class="icon-social"><a href="https://www.facebook.com/pages/category/Local-Business/Veeakker-268592110665120/" target="_blank" class="icon-facebook" rel="noopener noreferrer" title="Volg ons op Facebook"></a></div>
      <div class="icon-social"><a href="https://www.facebook.com/pages/category/Local-Business/Veeakker-268592110665120/" target="_blank" class="icon-instagram" rel="noopener noreferrer" title="Volg ons op Instagram"></a></div>
    </div>
  </div>
  <div id="contact">
    <h1>Contacteer Veeakker</h1>
    <Design::Forks @useDarkImage={{true}} />
    <div class="contact-content">
      <p class="adres">
        <h3 class="uppercase">Adres</h3>
        Slagerij - Kantoor<br>
        Slachthuislaan 3a, 3000 Leuven (B)<br>
        <a href="mailto:hello@veeakker.be" property="email">hello@veeakker.be</a><br>
        <a href="tel:+3216206238" property="telephone">016/20.62.38</a><br>
        Tijdens leveringen: <a href="tel:+32475983162">0475/98.31.62</a><br>
      </p>

      <div class="kaart"><img src="/images/kaart.png" alt="Map" /></div>

      <p class="uren">
        <h3 class="uppercase">openingsuren</h3>
        Maandag t/m vrijdag: 09u00 - 18u30<br>
        Zaterdag: 09u00 - 18u00<br>
        Zondag: Gesloten<br>
      </p>
    </div>
  </div>
</div>