<div id="content-home">
  <div id="top-banner">
    <!-- TODO: move languages upward? -->
    <div class="talen">
      <LanguageList />
    </div>
    <div class="top-banner-items">
      <div class="logo-slo"><a href="home.aspx"><img about="http://veeakker.be/" property="logo" src="/images/logo-veeakker-rechts.png" alt="no-alt"/></a></div>
    </div>
  </div>
  <div class="fix"></div>
  <div class="waarden">
    <h1>Veeakker is</h1>
    <div class="forks"><img src="/images/forks.png" alt="" width="151"/></div>
    <div class="waarden3">
      <div class="waarden1"><a href="klant.aspx"><img src="images/klant.png" alt="Gericht op de bewuste klant" /></a></div>
      <div class="waarden1"><a href="kwaliteit.aspx"><img src="images/kwaliteit.png" alt="Versheid en kwaliteit" /></a></div>
      <div class="waarden1"><a href="milieu.aspx"><img src="images/milieu.png" alt="In harmonie met het milieu" /></a></div>
    </div><div class="fix"></div>
  </div>
  <div id="social">
    <div class="arrow"><img src="/images/arrow.png" alt="Visual arrow element" /></div>
    <h1>Volg ons op</h1>
    <div class="icons-social">
      <div class="icon-social"><a href="https://www.facebook.com/pages/category/Local-Business/Veeakker-268592110665120/" target="_blank" class="icon-twitter" rel="noopener"></a></div>
      <div class="icon-social"><a href="https://www.facebook.com/pages/category/Local-Business/Veeakker-268592110665120/" target="_blank" class="icon-facebook" rel="noopener"></a></div>
      <div class="icon-social"><a href="https://www.facebook.com/pages/category/Local-Business/Veeakker-268592110665120/" target="_blank" class="icon-instagram" rel="noopener"></a></div>
    </div><div class="fix"></div>
  </div>
  <div id="contact">
    <h1>Contacteer Veeakker</h1>
    <div class="forks"><img src="/images/forks-bruin.png" alt="no-alt" width="151"/></div>
    <div class="winkel-kaart">
      <div class="winkel-home">
        <ul class="adres" property="address" typeof="PostalAddress">
          <li>Slagerij - Kantoor</li>
          <li><span property="streetAddress">Slachthuislaan 3a</span>, <span property="postalCode">3000</span> <span property="addressLocality">Leuven</span> (<span property="addressCountry">BE</span>)</li>
          <li><span property="email">hello@veeakker.be</span></li>
          <li><span property="telephone">016/20.62.38</span></li>
          <li>Tijdens leveringen: 0475/983162</li>
        </ul>
        
        <div class="faq"><a href="faq.aspx">FAQ</a></div>
      </div>
      <div class="kaart">
        <VeeakkerHomeMap />
      </div>
      <div class="winkel-uren">
        <h3>Openingsuren</h3>

        <div class="dagen">
          {{!-- Update both RDFa as well as visible content when updating these --}}
          <ul>
            <li property="openingHours" content="Mo-Fr 09:00-18:30"><strong>Maandag t/m vrijdag:</strong></li>
            <li property="openingHours" content="Sa 09:00 - 18:00"><strong>Zaterdag:</strong></li>
            <li><strong>Zondag:</strong></li>
          </ul>
        </div>
        <div class="uren">
          <ul>
            <li>09u00 - 18u30</li>
            <li>09u00 - 18u00</li>
            <li>Gesloten</li>
          </ul>
        </div>
        <div class="fix"></div>
      </div>
    </div><div class="fix"></div>
  </div><div class="fix"></div>
</div>
