<div id="nieuws">
  <div id="nieuwstopbanner">
    <div class="talen">
      <LanguageList />
    </div>
    <h1>NIEUWS</h1>
    <div class="forks"><img src="/images/forks.png" width="151"/></div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="images/ons3.jpg" />
        <h3>NIEUWS item 1</h3>
        <p>text</p>
        <p>datum</p>
        <a href="newsitem.aspx" class="button">LEES MEER</a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="images/ons3.jpg" />
        <h3>NIEUWS item 2</h3>
        <p>text</p>
        <p>datum</p>
        <a href="newsitem.aspx" class="button">LEES MEER</a>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="images/ons3.jpg" />
        <h3>NIEUWS item 3</h3>
        <p>text</p>
        <p>datum</p>
        <a href="newsitem.aspx" class="button">LEES MEER</a>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="images/ons3.jpg" />
        <h3>NIEUWS item 4</h3>
        <p>text</p>
        <p>datum</p>
        <a href="newsitem.aspx" class="button">LEES MEER</a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="images/ons3.jpg" />
        <h3>NIEUWS item 5</h3>
        <p>text</p>
        <p>datum</p>
        <a href="newsitem.aspx" class="button">LEES MEER</a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="images/ons3.jpg" />
        <h3>NIEUWS item 6</h3>
        <p>text</p>
        <p>datum</p>
        <a href="newsitem.aspx" class="button">LEES MEER</a>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="images/ons3.jpg" />
        <h3>NIEUWS item 7</h3>
        <p>text</p>
        <p>datum</p>
        <a href="newsitem.aspx" class="button">LEES MEER</a>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="images/ons3.jpg" />
        <h3>NIEUWS item 8</h3>
        <p>text</p>
        <p>datum</p>
        <a href="newsitem.aspx" class="button">LEES MEER</a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="images/ons3.jpg" />
        <h3>NIEUWS item 9</h3>
        <p>text</p>
        <p>datum</p>
        <a href="newsitem.aspx" class="button">LEES MEER</a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="images/ons3.jpg" />
        <h3>NIEUWS item 10</h3>
        <p>text</p>
        <p>datum</p>
        <a href="newsitem.aspx" class="button">LEES MEER</a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="images/ons3.jpg" />
        <h3>NIEUWS item 11</h3>
        <p>text</p>
        <p>datum</p>
        <a href="newsitem.aspx" class="button">LEES MEER</a>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="images/ons3.jpg" />
        <h3>NIEUWS item 12</h3>
        <p>text</p>
        <p>datum</p>
        <a href="newsitem.aspx" class="button">LEES MEER</a>
      </div>
    </div>
  </div>
</div>
