<div id="nieuws">
  <div id="nieuwstopbanner">
    <div class="talen">
      <LanguageList />
    </div>
    <h1 class="uppercase">nieuws</h1>
    <Design::Forks/>
  </div>
  <div class="row">
    <div class="column">
      <a href="newsitem.aspx">
        <div class="card">
          <img src="/images/ons3.jpg" alt="Image of meat with spices" />
          <h3>NIEUWS item 1</h3>
          <p>text</p>
          <p>datum</p>
          <p class="newsbutton">LEES MEER</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a href="newsitem.aspx">
        <div class="card">
          <img src="/images/ons3.jpg" alt="Image of meat with spices" />
          <h3>NIEUWS item 1</h3>
          <p>text</p>
          <p>datum</p>
          <p class="newsbutton">LEES MEER</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a href="newsitem.aspx">
        <div class="card">
          <img src="/images/ons3.jpg" alt="Image of meat with spices" />
          <h3>NIEUWS item 1</h3>
          <p>text</p>
          <p>datum</p>
          <p class="newsbutton">LEES MEER</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a href="newsitem.aspx">
        <div class="card">
          <img src="/images/ons3.jpg" alt="Image of meat with spices" />
          <h3>NIEUWS item 1</h3>
          <p>text</p>
          <p>datum</p>
          <p class="newsbutton">LEES MEER</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a href="newsitem.aspx">
        <div class="card">
          <img src="/images/ons3.jpg" alt="Image of meat with spices" />
          <h3>NIEUWS item 1</h3>
          <p>text</p>
          <p>datum</p>
          <p class="newsbutton">LEES MEER</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a href="newsitem.aspx">
        <div class="card">
          <img src="/images/ons3.jpg" alt="Image of meat with spices" />
          <h3>NIEUWS item 1</h3>
          <p>text</p>
          <p>datum</p>
          <p class="newsbutton">LEES MEER</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a href="newsitem.aspx">
        <div class="card">
          <img src="/images/ons3.jpg" alt="Image of meat with spices" />
          <h3>NIEUWS item 1</h3>
          <p>text</p>
          <p>datum</p>
          <p class="newsbutton">LEES MEER</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a href="newsitem.aspx">
        <div class="card">
          <img src="/images/ons3.jpg" alt="Image of meat with spices" />
          <h3>NIEUWS item 1</h3>
          <p>text</p>
          <p>datum</p>
          <p class="newsbutton">LEES MEER</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a href="newsitem.aspx">
        <div class="card">
          <img src="/images/ons3.jpg" alt="Image of meat with spices" />
          <h3>NIEUWS item 1</h3>
          <p>text</p>
          <p>datum</p>
          <p class="newsbutton">LEES MEER</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a href="newsitem.aspx">
        <div class="card">
          <img src="/images/ons3.jpg" alt="Image of meat with spices" />
          <h3>NIEUWS item 1</h3>
          <p>text</p>
          <p>datum</p>
          <p class="newsbutton">LEES MEER</p>
        </div>
      </a>
    </div>

    <div class="column">
      <a href="newsitem.aspx">
        <div class="card">
          <img src="/images/ons3.jpg" alt="Image of meat with spices" />
          <h3>NIEUWS item 1</h3>
          <p>text</p>
          <p>datum</p>
          <p class="newsbutton">LEES MEER</p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="newsitem.aspx">
        <div class="card">
          <img src="/images/ons3.jpg" alt="Image of meat with spices" />
          <h3>NIEUWS item 1</h3>
          <p>text</p>
          <p>datum</p>
          <p class="newsbutton">LEES MEER</p>
        </div>
      </a>
    </div>
  </div>
</div>
