<div id="nieuws">
  <div id="nieuwstopbanner">
    <div class="talen">
      <LanguageList />
    </div>
    <h1 class="uppercase">nieuws</h1>
    <Design::Forks/>
  </div>
  <div class="row">
    {{#each model as |newsItem|}}
      <div class="column">
        <NewsItem @item={{newsItem}} @tagName=""/>
      </div>
    {{/each}}
  </div>
</div>
