<div id="producten">
  <div id="productentopbanner">
    <div class="talen">
      <LanguageList />
    </div>
    <h1>PRODUCTEN</h1>
    <div class="forks"><img src="/images/forks.png" alt="" width="151"/></div>
  </div>
  <div class="extra-menu">
    {{#link-to "products.beef" classNames="rund tablinks"}}<img src="/images/rund.png" alt="no-alt" width="150" /><h5>Rund</h5>{{/link-to}}
    {{#link-to "products.pork" classNames="varken tablinks"}}<img src="/images/varken.png" alt="no-alt" width="150" /><h5>Varken</h5>{{/link-to}}
    {{#link-to "products.chicken" classNames="kip tablinks"}}<img src="/images/gevogelte.png" alt="no-alt" width="150" /><h5>Kip</h5>{{/link-to}}
    {{#link-to "products.lamb" classNames="lam tablinks"}}<img src="/images/lam.png" alt="no-alt" width="150" /><h5>Lam</h5>{{/link-to}}
    {{#link-to "products.fish" classNames="vis tablinks"}}<img src="/images/vis.png" alt="no-alt" width="150" /><h5>Vis</h5>{{/link-to}}
    {{#link-to "products.assorted" classNames="diverse tablinks"}}<img src="/images/ons1.jpg" alt="no-alt" width="150" /><h5>Diverse</h5>{{/link-to}}
  </div><div class="fix"></div>
  {{outlet}}
</div> 
