<div class="producten">
  <div class="productentopbanner">
    <div class="talen">
      <LanguageList />
    </div>
    <h1 class="uppercase">producten</h1>
    <Design::Forks/>
  </div>
  <div class="extra-menu">
    <LinkTo @route="products.beef" @classNames="rund tablinks"><img src="/images/rund.png" alt="rund" width="150" /><h5>Rund</h5></LinkTo>
    <LinkTo @route="products.pork" @classNames="varken tablinks"><img src="/images/varken.png" alt="varken" width="150" /><h5>Varken</h5></LinkTo>
    <LinkTo @route="products.chicken" @classNames="kip tablinks"><img src="/images/gevogelte.png" alt="kip" width="150" /><h5>Kip</h5></LinkTo>
    <LinkTo @route="products.lamb" @classNames="lam tablinks"><img src="/images/lam.png" alt="lam" width="150" /><h5>Lam</h5></LinkTo>
    <LinkTo @route="products.fish" @classNames="vis tablinks"><img src="/images/vis.png" alt="vis" width="150" /><h5>Vis</h5></LinkTo>
    <LinkTo @route="products.assorted" @classNames="diverse tablinks"><img src="/images/ons1.jpg" alt="diverse" width="150" /><h5>Diverse</h5></LinkTo>
  </div><div class="fix"></div>
  {{outlet}}
</div> 
