<nav id="nav">
  <div id="header-webshop" class="webshopMenu">
    <div class="talenWebshop">
      <ul>
        <li><a href="#">NL</a></li>
        <li><a href="#">FR</a></li>
        <li><a href="#">EN</a></li>
      </ul>
    </div>
    <div class="top-menu">


      <div id="webshop-menu" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNavWebshop()">&times;</a>


        <ul class="overlay-content">
          <li class="dropdown">
            <a href="javascript:void(0)">VLEES</a>
            <div class="dropdown-content-menu">
              <a href="rund.aspx">RUND</a>
              <a href="#">VARKEN</a>
              <a href="#">GEVOGELTE</a>
              <a href="#">LAM</a>
              <a href="#">WILD</a>
              <a href="#">MAALVLEES</a>
              <a href="#">CHARCUTERIE</a>
              <a href="#">BEREIDINGEN</a>
            </div>
          </li>
          <li class="dropdown"><a href="#">VIS</a></li>
          <li class="dropdown"><a href="#">VEGGIE</a></li>
          <li class="dropdown"><a href="#">TRAITEUR</a></li>
          <li class="dropdown"><a href="#">DIVERSE</a></li>
        </ul>



      </div>
      <div class="fix"></div>
      <div class="mobile-menu"><span class="webshop-menu-small" onclick="openNavWebshop()">&#9776;</span></div>
    </div>
  </div>

  <div id="header-webshop-small" class="webshopMenu">

    <div class="top-menu">


      <div id="webshop-menu-small">




        <ul>
          <li><a href="#"><img src="/images/zoekb.png" width="18" /></a> <input class="searchbox" type="text" placeholder="zoeken" name="search"></li>
          <li class="small-menu"><a href="winkelmandje.aspx">1 <img src="/images/winkelmandjeb.png" width="15" /> €67.50</a></li>
          
          

          <li class="dropdownSmall small-menu">
            <a href="inloggen.aspx">INLOGGEN</a>
            <div class="dropdown-content-menuSmall">
              <a href="account"><img src="/images/loginb.png" width="13" />  ACCOUNT</a>
              <a href="bestellingen.aspx"><img src="/images/bestellingenb.png" width="13" />  BESTELLINGEN</a>
              <a href="favorieten.aspx"><img src="/images/favob.png" width="13" />  FAVORIETEN</a>
              <a href="#">AFMELDEN</a>

            </div>
          </li>
          <li class="small-menu"><a href="help.aspx">HELP</a></li>
        </ul>

      </div>
      <div class="fix"></div>
    </div>
  </div>

</nav>

{{outlet}}

<div id="footerWebshop">
  <ul>
    <li><a href="afhaalpunten.aspx">LEVERING & AFHALING</a></li>
    <li><a href="voorwaarden.aspx">ALGEMENE VOORWAARDEN</a></li>
    <li><a href="contactinfo.aspx">CONTACT INFO</a></li>
  </ul>
  <div class="fix"></div>
</div>