<nav id="nav">
  <div id="header-webshop" class="webshopMenu">
    <div class="talenWebshop">
      <ul>
        {{!-- TODO: replace with language picker --}}
        <li><a href="#">NL</a></li>
        <li><a href="#">FR</a></li>
        <li><a href="#">EN</a></li>
      </ul>
    </div>
    <div class="top-menu">

      {{!-- TODO: replace with dynamic button --}}
      <div id="webshop-menu" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNavWebshop()">&times;</a>


        <ul class="overlay-content">
          {{#each sortedProductGroups as |productGroup|}}
            <li class="dropdown">
              {{link-to productGroup.label "webshop.product-groups.show" productGroup}}
              {{#if productGroup.sortedChildren.length}}
                <div class="dropdown-content-menu">
                  {{#each productGroup.sortedChildren as |subGroup|}}
                    {{link-to subGroup.label "webshop.product-groups.show.subgroups.show" productGroup subGroup}}
                  {{/each}}
                </div>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="fix"></div>
      <div class="mobile-menu"><span class="webshop-menu-small" onclick="openNavWebshop()">&#9776;</span></div>
    </div>
  </div>

  <div id="header-webshop-small" class="webshopMenu">
    <div class="top-menu">
      <div id="webshop-menu-small">
        <ul>
          {{!-- TODO: implement search --}}
          <li class="flex"><a href="#"><img src="/images/zoekb.png" width="18" alt="search trigger icon" /></a> <input class="searchbox" type="text" placeholder="zoeken" name="search"></li>
          {{!-- TODO: make static content dynamic --}}
          <li class="small-menu">{{#link-to "webshop.basket"}}1 <img src="/images/winkelmandjeb.png" alt="shopping basket icon" width="15" /> €67.50{{/link-to}}</li>

          <li class="dropdownSmall small-menu">
            {{#link-to "webshop.login"}}<span class="uppercase">inloggen</span>{{/link-to}}
            <div class="dropdown-content-menuSmall">
              {{!-- TODO: these icons should be set as background icons, they don't represent functionality themselves --}}
              {{#link-to "webshop.account"}}<img src="/images/loginb.png" width="13" alt="account icon" />{{/link-to}}
              {{#link-to "webshop.orders"}}><img src="/images/bestellingenb.png" width="13" alt="orders icon" /><span class="uppercase">bestellingen</span>{{/link-to}}
              {{#link-to "webshop.favorites"}}><img src="/images/favob.png" width="13" alt="favorites icon" /><span class="uppercase">favorieten</span>{{/link-to}}
              <a href="#"><span class="uppercase">afmelden</span></a> {{!-- TODO: implement --}}
            </div>
          </li>
          <li class="small-menu">{{#link-to "webshop.help"}}<span class="uppercase">help</span>{{/link-to}}</li>
        </ul>

      </div>
      <div class="fix"></div>
    </div>
  </div>

</nav>

{{outlet}}

<div id="footerWebshop">
  <ul>
    <li><a href="collection-points"><span class="uppercase">levering &amp; afhaling</span></a></li>
    <li><a href="conditions"><span class="uppercase">algemene voorwaarden</span></a></li>
    <li><a href="contactinfo"><span class="uppercase">contact info</span></a></li>
  </ul>
  <div class="fix"></div>
</div>
